In [1]:
# !pip install numpy
# !pip install pandas
# !pip install seaborn
# !pip install imblearn

In [2]:
import math
import random
import numpy as np
import pandas as pd
import seaborn as sns
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from sklearn.metrics import roc_auc_score
from sklearn.metrics import average_precision_score
from sklearn.model_selection import cross_val_score
from imblearn.under_sampling import RandomUnderSampler
from sklearn.metrics import precision_recall_curve, auc
from sklearn.metrics import precision_score, recall_score
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier

df = pd.read_csv('train_set_github.csv')
df

,Transcript Name,Gene Name,Position,Bases,Mean SD,Mean_Mean,Mean Dwelling Time,Median SD,Median_Mean,Median Dwelling Time,Label
0,ENST00000003100,ENSG00000001630,1021,ATGAC,4.764186,89.360465,0.006822,4.400,89.70,0.005980,0
1,ENST00000003100,ENSG00000001630,1022,TGACA,9.278605,115.000000,0.006003,9.190,116.00,0.004670,0
2,ENST00000003100,ENSG00000001630,1023,GACAT,2.570698,80.306977,0.007468,2.300,80.10,0.006310,0
3,ENST00000003100,ENSG00000001630,1071,TTGAC,3.195217,106.693478,0.007351,3.155,107.00,0.006605,0
4,ENST00000003100,ENSG00000001630,1072,TGACT,6.813261,123.130435,0.009585,6.940,123.00,0.008845,0
...,...,...,...,...,...,...,...,...,...,...,...
111031,ENST00000641784,ENSG00000284707,3243,GAACA,2.998125,97.346875,0.007648,2.675,97.60,0.006580,0
111032,ENST00000641784,ENSG00000284707,3244,AACAA,2.203750,88.439063,0.005190,2.130,88.70,0.004660,0
111033,ENST00000641784,ENSG00000284707,3265,CTAAC,1.874516,94.209677,0.005972,1.760,94.80,0.005065,0
111034,ENST00000641784,ENSG00000284707,3266,TAACT,2.194032,99.730645,0.006831,2.170,99.75,0.005785,0
111035,ENST00000641784,ENSG00000284707,3267,AACTT,1.977742,92.453226,0.006503,1.825,92.65,0.005780,0

In [3]:
# Obtain all unique gene names in the dataframe
gene_names = []
for i in df['Gene Name']:
    if i not in gene_names:
        gene_names.append(i)

# Split dataset into training and validation data (70/30 ratio) based on the Gene name
random.seed(4262)
training_genes = random.sample(gene_names, int(0.7 * len(gene_names)) ) # sample 70% of genes to be used in training
validation_genes = list(set(gene_names) - set(training_genes)) # remainder of genes that are not sampled will be used in validation
training_data = df[df['Gene Name'].isin(training_genes)]
validation_data = df[df['Gene Name'].isin(validation_genes)]

training_y = training_data['Label'].reset_index(drop=True)
training_X = training_data.drop(['Label'], axis=1).reset_index(drop=True)
validation_y = validation_data['Label'].reset_index(drop=True)
validation_X = validation_data.drop(['Label'], axis=1).reset_index(drop=True)

# One hot encoding for bases column of train and test set
training_X_dummies = pd.get_dummies(training_X['Bases'], drop_first=True)
training_X = pd.concat([training_X, training_X_dummies],axis=1)
validation_X_dummies = pd.get_dummies(validation_X['Bases'], drop_first=True)
validation_X = pd.concat([validation_X, validation_X_dummies],axis=1)

training_X

,Transcript Name,Gene Name,Position,Bases,Mean SD,Mean_Mean,Mean Dwelling Time,Median SD,Median_Mean,Median Dwelling Time,...,TAACC,TAACT,TAGAC,TGAAC,TGACA,TGACC,TGACT,TGGAC,TTAAC,TTGAC
0,ENST00000005257,ENSG00000006451,469,CTGAC,4.900645,111.441935,0.008884,3.840,112.00,0.006430,...,0,0,0,0,0,0,0,0,0,0
1,ENST00000005257,ENSG00000006451,470,TGACT,9.120968,121.032258,0.010946,9.260,121.00,0.008800,...,0,0,0,0,0,0,1,0,0,0
2,ENST00000005257,ENSG00000006451,471,GACTC,2.513839,90.670968,0.012280,2.390,90.80,0.009630,...,0,0,0,0,0,0,0,0,0,0
3,ENST00000005257,ENSG00000006451,503,AGGAC,6.078824,116.970588,0.012514,6.040,117.00,0.012050,...,0,0,0,0,0,0,0,0,0,0
4,ENST00000005257,ENSG00000006451,504,GGACT,4.955000,126.029412,0.011593,4.920,126.00,0.010300,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77116,ENST00000641784,ENSG00000284707,3243,GAACA,2.998125,97.346875,0.007648,2.675,97.60,0.006580,...,0,0,0,0,0,0,0,0,0,0
77117,ENST00000641784,ENSG00000284707,3244,AACAA,2.203750,88.439063,0.005190,2.130,88.70,0.004660,...,0,0,0,0,0,0,0,0,0,0
77118,ENST00000641784,ENSG00000284707,3265,CTAAC,1.874516,94.209677,0.005972,1.760,94.80,0.005065,...,0,0,0,0,0,0,0,0,0,0
77119,ENST00000641784,ENSG00000284707,3266,TAACT,2.194032,99.730645,0.006831,2.170,99.75,0.005785,...,0,1,0,0,0,0,0,0,0,0
77120,ENST00000641784,ENSG00000284707,3267,AACTT,1.977742,92.453226,0.006503,1.825,92.65,0.005780,...,0,0,0,0,0,0,0,0,0,0

In [4]:
training_data

,Transcript Name,Gene Name,Position,Bases,Mean SD,Mean_Mean,Mean Dwelling Time,Median SD,Median_Mean,Median Dwelling Time,Label
120,ENST00000005257,ENSG00000006451,469,CTGAC,4.900645,111.441935,0.008884,3.840,112.00,0.006430,0
121,ENST00000005257,ENSG00000006451,470,TGACT,9.120968,121.032258,0.010946,9.260,121.00,0.008800,0
122,ENST00000005257,ENSG00000006451,471,GACTC,2.513839,90.670968,0.012280,2.390,90.80,0.009630,0
123,ENST00000005257,ENSG00000006451,503,AGGAC,6.078824,116.970588,0.012514,6.040,117.00,0.012050,0
124,ENST00000005257,ENSG00000006451,504,GGACT,4.955000,126.029412,0.011593,4.920,126.00,0.010300,0
...,...,...,...,...,...,...,...,...,...,...,...
111031,ENST00000641784,ENSG00000284707,3243,GAACA,2.998125,97.346875,0.007648,2.675,97.60,0.006580,0
111032,ENST00000641784,ENSG00000284707,3244,AACAA,2.203750,88.439063,0.005190,2.130,88.70,0.004660,0
111033,ENST00000641784,ENSG00000284707,3265,CTAAC,1.874516,94.209677,0.005972,1.760,94.80,0.005065,0
111034,ENST00000641784,ENSG00000284707,3266,TAACT,2.194032,99.730645,0.006831,2.170,99.75,0.005785,0
111035,ENST00000641784,ENSG00000284707,3267,AACTT,1.977742,92.453226,0.006503,1.825,92.65,0.005780,0

In [5]:
validation_data

,Transcript Name,Gene Name,Position,Bases,Mean SD,Mean_Mean,Mean Dwelling Time,Median SD,Median_Mean,Median Dwelling Time,Label
0,ENST00000003100,ENSG00000001630,1021,ATGAC,4.764186,89.360465,0.006822,4.400,89.7,0.005980,0
1,ENST00000003100,ENSG00000001630,1022,TGACA,9.278605,115.000000,0.006003,9.190,116.0,0.004670,0
2,ENST00000003100,ENSG00000001630,1023,GACAT,2.570698,80.306977,0.007468,2.300,80.1,0.006310,0
3,ENST00000003100,ENSG00000001630,1071,TTGAC,3.195217,106.693478,0.007351,3.155,107.0,0.006605,0
4,ENST00000003100,ENSG00000001630,1072,TGACT,6.813261,123.130435,0.009585,6.940,123.0,0.008845,0
...,...,...,...,...,...,...,...,...,...,...,...
110467,ENST00000634753,ENSG00000282947,2333,GAACT,3.808538,100.923077,0.009656,3.330,100.0,0.007300,0
110468,ENST00000634753,ENSG00000282947,2334,AACTG,2.351154,93.513077,0.013745,2.255,93.6,0.012750,0
110469,ENST00000634753,ENSG00000282947,2352,TTAAC,1.922843,90.948819,0.006231,1.720,91.6,0.005310,0
110470,ENST00000634753,ENSG00000282947,2353,TAACC,2.673543,92.984252,0.006830,2.560,93.2,0.005660,0
110471,ENST00000634753,ENSG00000282947,2354,AACCT,2.027638,82.321260,0.006853,1.940,82.2,0.005860,0

### Feature engineering functions

In [6]:
# Obtain the counts of the individual bases and use them as features
def count_bases(bases):
    a,t,c,g=0,0,0,0
    for i in bases:
        if i == 'A':
            a+=1
        elif i == 'T':
            t+=1
        elif i == 'C':
            c+=1
        else:
            g+=1
    return a,t,c,g

In [7]:
# Relative positions
relative_positions = [1,2,3] * int(len(training_X)/3)
relative_positions_df = pd.DataFrame(relative_positions, columns=['Relative Position'])
training_X = pd.concat([training_X, relative_positions_df],axis=1)

training_X['Count_A'], training_X['Count_T'], training_X['Count_C'], training_X['Count_G'] = zip(*training_X['Bases'].apply(count_bases))
training_X = training_X.drop(['Bases'],axis=1)

training_X

,Transcript Name,Gene Name,Position,Mean SD,Mean_Mean,Mean Dwelling Time,Median SD,Median_Mean,Median Dwelling Time,AAACA,...,TGACC,TGACT,TGGAC,TTAAC,TTGAC,Relative Position,Count_A,Count_T,Count_C,Count_G
0,ENST00000005257,ENSG00000006451,469,4.900645,111.441935,0.008884,3.840,112.00,0.006430,0,...,0,0,0,0,0,1,1,1,2,1
1,ENST00000005257,ENSG00000006451,470,9.120968,121.032258,0.010946,9.260,121.00,0.008800,0,...,0,1,0,0,0,2,1,2,1,1
2,ENST00000005257,ENSG00000006451,471,2.513839,90.670968,0.012280,2.390,90.80,0.009630,0,...,0,0,0,0,0,3,1,1,2,1
3,ENST00000005257,ENSG00000006451,503,6.078824,116.970588,0.012514,6.040,117.00,0.012050,0,...,0,0,0,0,0,1,2,0,1,2
4,ENST00000005257,ENSG00000006451,504,4.955000,126.029412,0.011593,4.920,126.00,0.010300,0,...,0,0,0,0,0,2,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77116,ENST00000641784,ENSG00000284707,3243,2.998125,97.346875,0.007648,2.675,97.60,0.006580,0,...,0,0,0,0,0,2,3,0,1,1
77117,ENST00000641784,ENSG00000284707,3244,2.203750,88.439063,0.005190,2.130,88.70,0.004660,0,...,0,0,0,0,0,3,4,0,1,0
77118,ENST00000641784,ENSG00000284707,3265,1.874516,94.209677,0.005972,1.760,94.80,0.005065,0,...,0,0,0,0,0,1,2,1,2,0
77119,ENST00000641784,ENSG00000284707,3266,2.194032,99.730645,0.006831,2.170,99.75,0.005785,0,...,0,0,0,0,0,2,2,2,1,0
77120,ENST00000641784,ENSG00000284707,3267,1.977742,92.453226,0.006503,1.825,92.65,0.005780,0,...,0,0,0,0,0,3,2,2,1,0

In [8]:
# Relative positions
relative_positions = [1,2,3] * int(len(validation_X)/3)
relative_positions_df = pd.DataFrame(relative_positions, columns=['Relative Position'])
validation_X = pd.concat([validation_X, relative_positions_df],axis=1)

validation_X['Count_A'], validation_X['Count_T'], validation_X['Count_C'], validation_X['Count_G'] = zip(*validation_X['Bases'].apply(count_bases)) 
validation_X = validation_X.drop(['Bases'],axis=1)

validation_X

,Transcript Name,Gene Name,Position,Mean SD,Mean_Mean,Mean Dwelling Time,Median SD,Median_Mean,Median Dwelling Time,AAACA,...,TGACC,TGACT,TGGAC,TTAAC,TTGAC,Relative Position,Count_A,Count_T,Count_C,Count_G
0,ENST00000003100,ENSG00000001630,1021,4.764186,89.360465,0.006822,4.400,89.7,0.005980,0,...,0,0,0,0,0,1,2,1,1,1
1,ENST00000003100,ENSG00000001630,1022,9.278605,115.000000,0.006003,9.190,116.0,0.004670,0,...,0,0,0,0,0,2,2,1,1,1
2,ENST00000003100,ENSG00000001630,1023,2.570698,80.306977,0.007468,2.300,80.1,0.006310,0,...,0,0,0,0,0,3,2,1,1,1
3,ENST00000003100,ENSG00000001630,1071,3.195217,106.693478,0.007351,3.155,107.0,0.006605,0,...,0,0,0,0,1,1,1,2,1,1
4,ENST00000003100,ENSG00000001630,1072,6.813261,123.130435,0.009585,6.940,123.0,0.008845,0,...,0,1,0,0,0,2,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33910,ENST00000634753,ENSG00000282947,2333,3.808538,100.923077,0.009656,3.330,100.0,0.007300,0,...,0,0,0,0,0,2,2,1,1,1
33911,ENST00000634753,ENSG00000282947,2334,2.351154,93.513077,0.013745,2.255,93.6,0.012750,0,...,0,0,0,0,0,3,2,1,1,1
33912,ENST00000634753,ENSG00000282947,2352,1.922843,90.948819,0.006231,1.720,91.6,0.005310,0,...,0,0,0,1,0,1,2,2,1,0
33913,ENST00000634753,ENSG00000282947,2353,2.673543,92.984252,0.006830,2.560,93.2,0.005660,0,...,0,0,0,0,0,2,2,1,2,0
33914,ENST00000634753,ENSG00000282947,2354,2.027638,82.321260,0.006853,1.940,82.2,0.005860,0,...,0,0,0,0,0,3,2,1,2,0

## Feature Selection

### Feature selection using Pearson Correlation

In [9]:
df_cor = training_X.drop(['Transcript Name', 'Gene Name'], axis=1)
cor_matrix = df_cor.corr().abs()
upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.75)] # Drop features if correlation is > 0.75
df_cor = df_cor.drop(df_cor[to_drop], axis=1)
df_cor

C:\Users\jingh\AppData\Local\Temp/ipykernel_27464/1420394356.py:3: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))

,Position,Mean SD,Mean_Mean,Mean Dwelling Time,AAACA,AAACC,AAACT,AACAA,AACAC,AACAG,...,TGACC,TGACT,TGGAC,TTAAC,TTGAC,Relative Position,Count_A,Count_T,Count_C,Count_G
0,469,4.900645,111.441935,0.008884,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,2,1
1,470,9.120968,121.032258,0.010946,0,0,0,0,0,0,...,0,1,0,0,0,2,1,2,1,1
2,471,2.513839,90.670968,0.012280,0,0,0,0,0,0,...,0,0,0,0,0,3,1,1,2,1
3,503,6.078824,116.970588,0.012514,0,0,0,0,0,0,...,0,0,0,0,0,1,2,0,1,2
4,504,4.955000,126.029412,0.011593,0,0,0,0,0,0,...,0,0,0,0,0,2,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77116,3243,2.998125,97.346875,0.007648,0,0,0,0,0,0,...,0,0,0,0,0,2,3,0,1,1
77117,3244,2.203750,88.439063,0.005190,0,0,0,1,0,0,...,0,0,0,0,0,3,4,0,1,0
77118,3265,1.874516,94.209677,0.005972,0,0,0,0,0,0,...,0,0,0,0,0,1,2,1,2,0
77119,3266,2.194032,99.730645,0.006831,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,1,0
77120,3267,1.977742,92.453226,0.006503,0,0,0,0,0,0,...,0,0,0,0,0,3,2,2,1,0

In [10]:
print(to_drop)

['Median SD', 'Median_Mean', 'Median Dwelling Time']

In [11]:
# Drop Position variable if not dealing with relative positions 
training_X = training_X.drop(training_X[to_drop], axis=1).drop(['Position'],axis=1)
validation_X = validation_X.drop(validation_X[to_drop], axis=1).drop(['Position'],axis=1)
training_X

,Transcript Name,Gene Name,Mean SD,Mean_Mean,Mean Dwelling Time,AAACA,AAACC,AAACT,AACAA,AACAC,...,TGACC,TGACT,TGGAC,TTAAC,TTGAC,Relative Position,Count_A,Count_T,Count_C,Count_G
0,ENST00000005257,ENSG00000006451,4.900645,111.441935,0.008884,0,0,0,0,0,...,0,0,0,0,0,1,1,1,2,1
1,ENST00000005257,ENSG00000006451,9.120968,121.032258,0.010946,0,0,0,0,0,...,0,1,0,0,0,2,1,2,1,1
2,ENST00000005257,ENSG00000006451,2.513839,90.670968,0.012280,0,0,0,0,0,...,0,0,0,0,0,3,1,1,2,1
3,ENST00000005257,ENSG00000006451,6.078824,116.970588,0.012514,0,0,0,0,0,...,0,0,0,0,0,1,2,0,1,2
4,ENST00000005257,ENSG00000006451,4.955000,126.029412,0.011593,0,0,0,0,0,...,0,0,0,0,0,2,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77116,ENST00000641784,ENSG00000284707,2.998125,97.346875,0.007648,0,0,0,0,0,...,0,0,0,0,0,2,3,0,1,1
77117,ENST00000641784,ENSG00000284707,2.203750,88.439063,0.005190,0,0,0,1,0,...,0,0,0,0,0,3,4,0,1,0
77118,ENST00000641784,ENSG00000284707,1.874516,94.209677,0.005972,0,0,0,0,0,...,0,0,0,0,0,1,2,1,2,0
77119,ENST00000641784,ENSG00000284707,2.194032,99.730645,0.006831,0,0,0,0,0,...,0,0,0,0,0,2,2,2,1,0
77120,ENST00000641784,ENSG00000284707,1.977742,92.453226,0.006503,0,0,0,0,0,...,0,0,0,0,0,3,2,2,1,0

In [12]:
training_X.columns

Index(['Transcript Name', 'Gene Name', 'Mean SD', 'Mean_Mean',
       'Mean Dwelling Time', 'AAACA', 'AAACC', 'AAACT', 'AACAA', 'AACAC',
       'AACAG', 'AACAT', 'AACCA', 'AACCC', 'AACCG', 'AACCT', 'AACTA', 'AACTC',
       'AACTG', 'AACTT', 'AAGAC', 'AGAAC', 'AGACA', 'AGACC', 'AGACT', 'AGGAC',
       'ATAAC', 'ATGAC', 'CAAAC', 'CAGAC', 'CGAAC', 'CGGAC', 'CTAAC', 'CTGAC',
       'GAAAC', 'GAACA', 'GAACC', 'GAACT', 'GACAA', 'GACAC', 'GACAG', 'GACAT',
       'GACCA', 'GACCC', 'GACCG', 'GACCT', 'GACTA', 'GACTC', 'GACTG', 'GACTT',
       'GAGAC', 'GGAAC', 'GGACA', 'GGACC', 'GGACT', 'GGGAC', 'GTAAC', 'GTGAC',
       'TAAAC', 'TAACA', 'TAACC', 'TAACT', 'TAGAC', 'TGAAC', 'TGACA', 'TGACC',
       'TGACT', 'TGGAC', 'TTAAC', 'TTGAC', 'Relative Position', 'Count_A',
       'Count_T', 'Count_C', 'Count_G'],
      dtype='object')

### Feature selection using RandomForest's feature_importances_

In [13]:
rf = RandomForestClassifier(random_state=4262)
rf.fit(training_X.iloc[:, 2:], training_y) # Don't take into consideration the transcript name and gene name columns for training_X
rf.feature_importances_

array([3.06148276e-01, 3.50571506e-01, 2.42653612e-01, 2.43063719e-04,
       2.34765734e-04, 5.66326374e-04, 1.63151586e-05, 1.29029018e-06,
       1.17025026e-05, 3.78150658e-06, 5.55594412e-06, 9.23045171e-07,
       1.13591679e-05, 4.24428534e-06, 5.10498417e-06, 1.19083100e-06,
       4.74207514e-05, 1.70446141e-05, 1.41694717e-04, 1.37254263e-04,
       4.61534084e-04, 1.86003647e-04, 3.71825905e-03, 4.16528303e-04,
       1.10880231e-05, 1.15359341e-04, 4.39673526e-06, 1.71345760e-05,
       3.31028767e-06, 1.11940332e-04, 7.91631207e-06, 6.91854816e-05,
       3.05388051e-05, 2.79900702e-04, 3.04531830e-04, 8.03823495e-03,
       4.36163171e-05, 1.10369821e-05, 2.49524990e-04, 2.74360318e-05,
       3.57149706e-05, 1.95057836e-05, 7.07046687e-05, 1.48439371e-05,
       3.93787500e-05, 3.92903204e-06, 5.26002409e-04, 1.10391554e-04,
       2.28943482e-04, 1.42012561e-04, 4.60758204e-03, 3.40393189e-03,
       3.64823643e-02, 5.34698264e-04, 3.31339886e-05, 2.57113877e-04,
       6.46457735e-05, 6.46791375e-05, 4.07307376e-05, 2.03849681e-04,
       1.19655837e-04, 1.41990560e-04, 7.05038641e-04, 4.81045417e-04,
       2.38030896e-03, 1.71649139e-03, 8.47488008e-06, 4.90508549e-05,
       1.31355688e-02, 5.48468361e-03, 5.05077188e-03, 2.25553149e-03,
       6.65732220e-03])

In [14]:
# Calculate the ranks of scores for feature importance
def calculate_rank(vector):
    a={}
    rank=1
    for num in sorted(vector, reverse=True):
        if num not in a:
            a[num]=rank
            rank=rank+1
    return[a[i] for i in vector]
feature_importance_list = sorted(list(zip(training_X.columns, rf.feature_importances_, calculate_rank(rf.feature_importances_))), key=lambda x:x[1], reverse=True)
feature_importance_list

[('Gene Name', 0.35057150587313574, 1),
 ('Transcript Name', 0.3061482760401802, 2),
 ('Mean SD', 0.24265361199536595, 3),
 ('GGACA', 0.03648236431820294, 4),
 ('TTAAC', 0.013135568837647025, 5),
 ('GAACA', 0.008038234953844306, 6),
 ('Count_T', 0.00665732219574016, 7),
 ('TTGAC', 0.005484683610792913, 8),
 ('Relative Position', 0.005050771884462054, 9),
 ('GAGAC', 0.004607582038613322, 10),
 ('AGACA', 0.0037182590517283076, 11),
 ('GGAAC', 0.003403931890689674, 12),
 ('TGACA', 0.0023803089563887597, 13),
 ('Count_A', 0.0022555314913392725, 14),
 ('TGACC', 0.0017164913947893545, 15),
 ('TAGAC', 0.0007050386408257417, 16),
 ('AAACA', 0.0005663263740365833, 17),
 ('GGACC', 0.0005346982642136358, 18),
 ('GACTA', 0.0005260024091825916, 19),
 ('TGAAC', 0.0004810454168868106, 20),
 ('AAGAC', 0.0004615340842487692, 21),
 ('AGACC', 0.00041652830296808643, 22),
 ('GAAAC', 0.00030453183012407807, 23),
 ('CTGAC', 0.00027990070241195003, 24),
 ('GGGAC', 0.0002571138766743556, 25),
 ('GACAA', 0.00024952499009837036, 26),
 ('Mean_Mean', 0.00024306371884088277, 27),
 ('Mean Dwelling Time', 0.0002347657344600516, 28),
 ('GACTG', 0.00022894348170878517, 29),
 ('TAACA', 0.00020384968143549257, 30),
 ('AGAAC', 0.00018600364723485974, 31),
 ('GACTT', 0.00014201256072908568, 32),
 ('TAACT', 0.0001419905603232971, 33),
 ('AACTG', 0.000141694717476796, 34),
 ('AACTT', 0.0001372542628329139, 35),
 ('TAACC', 0.00011965583659455148, 36),
 ('AGGAC', 0.00011535934072649773, 37),
 ('CAGAC', 0.00011194033216544671, 38),
 ('GACTC', 0.00011039155367345888, 39),
 ('GACCA', 7.070466869328891e-05, 40),
 ('CGGAC', 6.918548161746155e-05, 41),
 ('GTGAC', 6.467913745935008e-05, 42),
 ('GTAAC', 6.464577348162093e-05, 43),
 ('TGGAC', 4.90508549101565e-05, 44),
 ('AACTA', 4.742075138141352e-05, 45),
 ('GAACC', 4.36163170616528e-05, 46),
 ('TAAAC', 4.07307376273533e-05, 47),
 ('GACCG', 3.9378749953754054e-05, 48),
 ('GACAG', 3.5714970593324236e-05, 49),
 ('GGACT', 3.313398863651288e-05, 50),
 ('CTAAC', 3.053880510413315e-05, 51),
 ('GACAC', 2.7436031841896686e-05, 52),
 ('GACAT', 1.950578364585743e-05, 53),
 ('ATGAC', 1.713457597728337e-05, 54),
 ('AACTC', 1.704461405060133e-05, 55),
 ('AAACC', 1.6315158647426314e-05, 56),
 ('GACCC', 1.4843937094271648e-05, 57),
 ('AACAA', 1.1702502635603668e-05, 58),
 ('AACCA', 1.1359167906639455e-05, 59),
 ('AGACT', 1.1088023084060523e-05, 60),
 ('GAACT', 1.1036982115602911e-05, 61),
 ('TGACT', 8.474880077297914e-06, 62),
 ('CGAAC', 7.916312072954682e-06, 63),
 ('AACAG', 5.555944123468657e-06, 64),
 ('AACCG', 5.1049841733737934e-06, 65),
 ('ATAAC', 4.396735258779334e-06, 66),
 ('AACCC', 4.244285338840194e-06, 67),
 ('GACCT', 3.929032042857482e-06, 68),
 ('AACAC', 3.781506575940549e-06, 69),
 ('CAAAC', 3.310287672433201e-06, 70),
 ('AAACT', 1.2902901798788564e-06, 71),
 ('AACCT', 1.1908310010197727e-06, 72),
 ('AACAT', 9.230451709225523e-07, 73)]

### Change the number of features to be used by the model

Tweak the argument within the `range()` function

In [15]:
top_features = []
for i in range(38): 
    top_features.append(feature_importance_list[i][0])
top_features

['Gene Name',
 'Transcript Name',
 'Mean SD',
 'GGACA',
 'TTAAC',
 'GAACA',
 'Count_T',
 'TTGAC',
 'Relative Position',
 'GAGAC',
 'AGACA',
 'GGAAC',
 'TGACA',
 'Count_A',
 'TGACC',
 'TAGAC',
 'AAACA',
 'GGACC',
 'GACTA',
 'TGAAC',
 'AAGAC',
 'AGACC',
 'GAAAC',
 'CTGAC',
 'GGGAC',
 'GACAA',
 'Mean_Mean',
 'Mean Dwelling Time',
 'GACTG',
 'TAACA',
 'AGAAC',
 'GACTT',
 'TAACT',
 'AACTG',
 'AACTT',
 'TAACC',
 'AGGAC',
 'CAGAC']

In [16]:
training_X = training_X[top_features]
validation_X = validation_X[top_features]

In [17]:
training_X

,Gene Name,Transcript Name,Mean SD,GGACA,TTAAC,GAACA,Count_T,TTGAC,Relative Position,GAGAC,...,GACTG,TAACA,AGAAC,GACTT,TAACT,AACTG,AACTT,TAACC,AGGAC,CAGAC
0,ENSG00000006451,ENST00000005257,4.900645,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,ENSG00000006451,ENST00000005257,9.120968,0,0,0,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
2,ENSG00000006451,ENST00000005257,2.513839,0,0,0,1,0,3,0,...,0,0,0,0,0,0,0,0,0,0
3,ENSG00000006451,ENST00000005257,6.078824,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,ENSG00000006451,ENST00000005257,4.955000,0,0,0,1,0,2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77116,ENSG00000284707,ENST00000641784,2.998125,0,0,1,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
77117,ENSG00000284707,ENST00000641784,2.203750,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
77118,ENSG00000284707,ENST00000641784,1.874516,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
77119,ENSG00000284707,ENST00000641784,2.194032,0,0,0,2,0,2,0,...,0,0,0,0,1,0,0,0,0,0
77120,ENSG00000284707,ENST00000641784,1.977742,0,0,0,2,0,3,0,...,0,0,0,0,0,0,1,0,0,0

### K-fold validation 
Will be performing k cross-fold validation where k=10 using training dataset

In [18]:
# Break genes of training dataset up into n chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [19]:
# Obtain all unique genes in training dataset
unique_genes_training = []
for i in training_X['Gene Name']:
    if i not in unique_genes_training:
        unique_genes_training.append(i)
unique_genes_training2 = unique_genes_training.copy()        
unique_genes_training

['ENSG00000006451',
 'ENSG00000013583',
 'ENSG00000012061',
 'ENSG00000072849',
 'ENSG00000049541',
 'ENSG00000079616',
 'ENSG00000075336',
 'ENSG00000075975',
 'ENSG00000086232',
 'ENSG00000065518',
 'ENSG00000079999',
 'ENSG00000086504',
 'ENSG00000090487',
 'ENSG00000095059',
 'ENSG00000100138',
 'ENSG00000099624',
 'ENSG00000100417',
 'ENSG00000100348',
 'ENSG00000100345',
 'ENSG00000100422',
 'ENSG00000090060',
 'ENSG00000100504',
 'ENSG00000100567',
 'ENSG00000100612',
 'ENSG00000100836',
 'ENSG00000100906',
 'ENSG00000100941',
 'ENSG00000100983',
 'ENSG00000100994',
 'ENSG00000103024',
 'ENSG00000103035',
 'ENSG00000104312',
 'ENSG00000103194',
 'ENSG00000103266',
 'ENSG00000103502',
 'ENSG00000103653',
 'ENSG00000104231',
 'ENSG00000104824',
 'ENSG00000105372',
 'ENSG00000105722',
 'ENSG00000105849',
 'ENSG00000105968',
 'ENSG00000105698',
 'ENSG00000108298',
 'ENSG00000106591',
 'ENSG00000108256',
 'ENSG00000106603',
 'ENSG00000134333',
 'ENSG00000108826',
 'ENSG00000109861',
 'ENSG00000110057',
 'ENSG00000060138',
 'ENSG00000111229',
 'ENSG00000111321',
 'ENSG00000112306',
 'ENSG00000111678',
 'ENSG00000111786',
 'ENSG00000112118',
 'ENSG00000112667',
 'ENSG00000114115',
 'ENSG00000115275',
 'ENSG00000034510',
 'ENSG00000115234',
 'ENSG00000116096',
 'ENSG00000116670',
 'ENSG00000117395',
 'ENSG00000117984',
 'ENSG00000118579',
 'ENSG00000119013',
 'ENSG00000120742',
 'ENSG00000120875',
 'ENSG00000136193',
 'ENSG00000123144',
 'ENSG00000123091',
 'ENSG00000123179',
 'ENSG00000123989',
 'ENSG00000124383',
 'ENSG00000124380',
 'ENSG00000125970',
 'ENSG00000125753',
 'ENSG00000125868',
 'ENSG00000126088',
 'ENSG00000126458',
 'ENSG00000126453',
 'ENSG00000126787',
 'ENSG00000090266',
 'ENSG00000206053',
 'ENSG00000127666',
 'ENSG00000127838',
 'ENSG00000128185',
 'ENSG00000100116',
 'ENSG00000128228',
 'ENSG00000105819',
 'ENSG00000129354',
 'ENSG00000132155',
 'ENSG00000100991',
 'ENSG00000130638',
 'ENSG00000109805',
 'ENSG00000130202',
 'ENSG00000130312',
 'ENSG00000130309',
 'ENSG00000130332',
 'ENSG00000130429',
 'ENSG00000130414',
 'ENSG00000130522',
 'ENSG00000130741',
 'ENSG00000131100',
 'ENSG00000132002',
 'ENSG00000132591',
 'ENSG00000132661',
 'ENSG00000132612',
 'ENSG00000132768',
 'ENSG00000133265',
 'ENSG00000133704',
 'ENSG00000133818',
 'ENSG00000134049',
 'ENSG00000134153',
 'ENSG00000134152',
 'ENSG00000134287',
 'ENSG00000134440',
 'ENSG00000134531',
 'ENSG00000134590',
 'ENSG00000135372',
 'ENSG00000135457',
 'ENSG00000135972',
 'ENSG00000136159',
 'ENSG00000136261',
 'ENSG00000136444',
 'ENSG00000136718',
 'ENSG00000136240',
 'ENSG00000136950',
 'ENSG00000136636',
 'ENSG00000137575',
 'ENSG00000138095',
 'ENSG00000138031',
 'ENSG00000138495',
 'ENSG00000138073',
 'ENSG00000020426',
 'ENSG00000113368',
 'ENSG00000080371',
 'ENSG00000110880',
 'ENSG00000108671',
 'ENSG00000100603',
 'ENSG00000065150',
 'ENSG00000051523',
 'ENSG00000011295',
 'ENSG00000124422',
 'ENSG00000090861',
 'ENSG00000102753',
 'ENSG00000110958',
 'ENSG00000008018',
 'ENSG00000033011',
 'ENSG00000101544',
 'ENSG00000108523',
 'ENSG00000105669',
 'ENSG00000106554',
 'ENSG00000079462',
 'ENSG00000074842',
 'ENSG00000064666',
 'ENSG00000070010',
 'ENSG00000088205',
 'ENSG00000105486',
 'ENSG00000105402',
 'ENSG00000060688',
 'ENSG00000110651',
 'ENSG00000059691',
 'ENSG00000217555',
 'ENSG00000095139',
 'ENSG00000091409',
 'ENSG00000090432',
 'ENSG00000128059',
 'ENSG00000055044',
 'ENSG00000109180',
 'ENSG00000038210',
 'ENSG00000138772',
 'ENSG00000138768',
 'ENSG00000069011',
 'ENSG00000037241',
 'ENSG00000106028',
 'ENSG00000051596',
 'ENSG00000126432',
 'ENSG00000114302',
 'ENSG00000106682',
 'ENSG00000119487',
 'ENSG00000110768',
 'ENSG00000110315',
 'ENSG00000125520',
 'ENSG00000119718',
 'ENSG00000140612',
 'ENSG00000141127',
 'ENSG00000141429',
 'ENSG00000141522',
 'ENSG00000141985',
 'ENSG00000105771',
 'ENSG00000142534',
 'ENSG00000143727',
 'ENSG00000163191',
 'ENSG00000142507',
 'ENSG00000143815',
 'ENSG00000143870',
 'ENSG00000144034',
 'ENSG00000123992',
 'ENSG00000144580',
 'ENSG00000144021',
 'ENSG00000145354',
 'ENSG00000145425',
 'ENSG00000152684',
 'ENSG00000145293',
 'ENSG00000048828',
 'ENSG00000147416',
 'ENSG00000147586',
 'ENSG00000147684',
 'ENSG00000107949',
 'ENSG00000213593',
 'ENSG00000149136',
 'ENSG00000149218',
 'ENSG00000149823',
 'ENSG00000149313',
 'ENSG00000149547',
 'ENSG00000150316',
 'ENSG00000137513',
 'ENSG00000149923',
 'ENSG00000152518',
 'ENSG00000103274',
 'ENSG00000144848',
 'ENSG00000153827',
 'ENSG00000154978',
 'ENSG00000154174',
 'ENSG00000154582',
 'ENSG00000155463',
 'ENSG00000154723',
 'ENSG00000069849',
 'ENSG00000124333',
 'ENSG00000156482',
 'ENSG00000156802',
 'ENSG00000033050',
 'ENSG00000205581',
 'ENSG00000158164',
 'ENSG00000244187',
 'ENSG00000100294',
 'ENSG00000160075',
 'ENSG00000160201',
 'ENSG00000160209',
 'ENSG00000160447',
 'ENSG00000244045',
 'ENSG00000070423',
 'ENSG00000213931',
 'ENSG00000160932',
 'ENSG00000161981',
 'ENSG00000005075',
 'ENSG00000162642',
 'ENSG00000162702',
 'ENSG00000162980',
 'ENSG00000163399',
 'ENSG00000163466',
 'ENSG00000163479',
 'ENSG00000163468',
 'ENSG00000163634',
 'ENSG00000163636',
 'ENSG00000163832',
 'ENSG00000163814',
 'ENSG00000163902',
 'ENSG00000164713',
 'ENSG00000164867',
 'ENSG00000164897',
 'ENSG00000164934',
 'ENSG00000164944',
 'ENSG00000165389',
 'ENSG00000166411',
 'ENSG00000069329',
 'ENSG00000166226',
 'ENSG00000166337',
 'ENSG00000166598',
 'ENSG00000166333',
 'ENSG00000166797',
 'ENSG00000166803',
 'ENSG00000166851',
 'ENSG00000167005',
 'ENSG00000167114',
 'ENSG00000089154',
 'ENSG00000131116',
 'ENSG00000167508',
 'ENSG00000167552',
 'ENSG00000167671',
 'ENSG00000167699',
 'ENSG00000267855',
 'ENSG00000167779',
 'ENSG00000167797',
 'ENSG00000167815',
 'ENSG00000167863',
 'ENSG00000168028',
 'ENSG00000170522',
 'ENSG00000170296',
 'ENSG00000168056',
 'ENSG00000170759',
 'ENSG00000186184',
 'ENSG00000172336',
 'ENSG00000168288',
 'ENSG00000168090',
 'ENSG00000169567',
 'ENSG00000171067',
 'ENSG00000170540',
 'ENSG00000169180',
 'ENSG00000174231',
 'ENSG00000169047',
 'ENSG00000169627',
 'ENSG00000247596',
 'ENSG00000168785',
 'ENSG00000169715',
 'ENSG00000105186',
 'ENSG00000168894',
 'ENSG00000168938',
 'ENSG00000168802',
 'ENSG00000168209',
 'ENSG00000171135',
 'ENSG00000172009',
 'ENSG00000170293',
 'ENSG00000090686',
 'ENSG00000167196',
 'ENSG00000160072',
 'ENSG00000105379',
 'ENSG00000173442',
 'ENSG00000173272',
 'ENSG00000173915',
 'ENSG00000173621',
 'ENSG00000174173',
 'ENSG00000087191',
 'ENSG00000175416',
 'ENSG00000115159',
 'ENSG00000140525',
 'ENSG00000174903',
 'ENSG00000173638',
 'ENSG00000117751',
 'ENSG00000173456',
 'ENSG00000173085',
 'ENSG00000196642',
 'ENSG00000175315',
 'ENSG00000119403',
 'ENSG00000175602',
 'ENSG00000104973',
 'ENSG00000114353',
 'ENSG00000213563',
 'ENSG00000253729',
 'ENSG00000141076',
 'ENSG00000109111',
 'ENSG00000115368',
 'ENSG00000010292',
 'ENSG00000227500',
 'ENSG00000178999',
 'ENSG00000116871',
 'ENSG00000176894',
 'ENSG00000052344',
 'ENSG00000055950',
 'ENSG00000179021',
 'ENSG00000178425',
 'ENSG00000176845',
 'ENSG00000205937',
 'ENSG00000181019',
 'ENSG00000179010',
 'ENSG00000181061',
 'ENSG00000161956',
 'ENSG00000120438',
 'ENSG00000038274',
 'ENSG00000179562',
 'ENSG00000146729',
 'ENSG00000198755',
 'ENSG00000141279',
 'ENSG00000176101',
 'ENSG00000178741',
 'ENSG00000178105',
 'ENSG00000115053',
 'ENSG00000159840',
 'ENSG00000102738',
 'ENSG00000143753',
 'ENSG00000130479',
 'ENSG00000176390',
 'ENSG00000176102',
 'ENSG00000180228',
 'ENSG00000119326',
 'ENSG00000022840',
 'ENSG00000175745',
 'ENSG00000124614',
 'ENSG00000124702',
 'ENSG00000163170',
 'ENSG00000108021',
 'ENSG00000198467',
 'ENSG00000182511',
 'ENSG00000206418',
 'ENSG00000182774',
 'ENSG00000101361',
 'ENSG00000185085',
 'ENSG00000105438',
 'ENSG00000214113',
 'ENSG00000182512',
 'ENSG00000185721',
 'ENSG00000184162',
 'ENSG00000183735',
 'ENSG00000182108',
 'ENSG00000087086',
 'ENSG00000075624',
 'ENSG00000186834',
 'ENSG00000184575',
 'ENSG00000064961',
 'ENSG00000262814',
 'ENSG00000183011',
 'ENSG00000122873',
 'ENSG00000159753',
 'ENSG00000176853',
 'ENSG00000186174',
 'ENSG00000173418',
 'ENSG00000186298',
 'ENSG00000115524',
 'ENSG00000239672',
 'ENSG00000130985',
 'ENSG00000213523',
 'ENSG00000069998',
 'ENSG00000132507',
 'ENSG00000136104',
 'ENSG00000109606',
 'ENSG00000008952',
 'ENSG00000132313',
 'ENSG00000155096',
 'ENSG00000126226',
 'ENSG00000146457',
 'ENSG00000100644',
 'ENSG00000106367',
 'ENSG00000122565',
 'ENSG00000149925',
 'ENSG00000168003',
 'ENSG00000100997',
 'ENSG00000165792',
 'ENSG00000186480',
 'ENSG00000105974',
 'ENSG00000128309',
 'ENSG00000188554',
 'ENSG00000135387',
 'ENSG00000162961',
 'ENSG00000188313',
 'ENSG00000111206',
 'ENSG00000177732',
 'ENSG00000034152',
 'ENSG00000189227',
 'ENSG00000109332',
 'ENSG00000187778',
 'ENSG00000140943',
 'ENSG00000078399',
 'ENSG00000177426',
 'ENSG00000116237',
 'ENSG00000108107',
 'ENSG00000171858',
 'ENSG00000070831',
 'ENSG00000118418',
 'ENSG00000101084',
 'ENSG00000187555',
 'ENSG00000115211',
 'ENSG00000125991',
 'ENSG00000166165',
 'ENSG00000168036',
 'ENSG00000100347',
 'ENSG00000127955',
 'ENSG00000214078',
 'ENSG00000164611',
 'ENSG00000100243',
 'ENSG00000178802',
 'ENSG00000132432',
 'ENSG00000096384',
 'ENSG00000116661',
 'ENSG00000196961',
 'ENSG00000196850',
 'ENSG00000102317',
 'ENSG00000065000',
 'ENSG00000161091',
 'ENSG00000197136',
 'ENSG00000197223',
 'ENSG00000101166',
 'ENSG00000133318',
 'ENSG00000100401',
 'ENSG00000132819',
 'ENSG00000197728',
 'ENSG00000145907',
 'ENSG00000198363',
 'ENSG00000159140',
 'ENSG00000198668',
 'ENSG00000111642',
 'ENSG00000196976',
 'ENSG00000113810',
 'ENSG00000146540',
 'ENSG00000123983',
 'ENSG00000198113',
 'ENSG00000121022',
 'ENSG00000213782',
 'ENSG00000137038',
 'ENSG00000196683',
 'ENSG00000165661',
 'ENSG00000198130',
 'ENSG00000197756',
 'ENSG00000138757',
 'ENSG00000152556',
 'ENSG00000197905',
 'ENSG00000162704',
 'ENSG00000198042',
 'ENSG00000147065',
 'ENSG00000123562',
 'ENSG00000162734',
 'ENSG00000115649',
 'ENSG00000196365',
 'ENSG00000116221',
 'ENSG00000106263',
 'ENSG00000159131',
 'ENSG00000198917',
 'ENSG00000198876',
 'ENSG00000166681',
 'ENSG00000212907',
 'ENSG00000198886',
 'ENSG00000244509',
 'ENSG00000198763',
 'ENSG00000126581',
 'ENSG00000198700',
 'ENSG00000198826',
 'ENSG00000145365',
 'ENSG00000198736',
 'ENSG00000198712',
 'ENSG00000228253',
 'ENSG00000198954',
 'ENSG00000035687',
 'ENSG00000173726',
 'ENSG00000135750',
 'ENSG00000117691',
 'ENSG00000162889',
 'ENSG00000116857',
 'ENSG00000116750',
 'ENSG00000112339',
 'ENSG00000143183',
 'ENSG00000143198',
 'ENSG00000158864',
 'ENSG00000160710',
 'ENSG00000153989',
 'ENSG00000160679',
 'ENSG00000197956',
 'ENSG00000151929',
 'ENSG00000143436',
 'ENSG00000148908',
 'ENSG00000023041',
 'ENSG00000092621',
 'ENSG00000146282',
 'ENSG00000213281',
 'ENSG00000165775',
 'ENSG00000130826',
 'ENSG00000138166',
 'ENSG00000155380',
 'ENSG00000116473',
 'ENSG00000116459',
 'ENSG00000184216',
 'ENSG00000107862',
 'ENSG00000117543',
 'ENSG00000155287',
 'ENSG00000143013',
 'ENSG00000117133',
 'ENSG00000112208',
 'ENSG00000101928',
 'ENSG00000119986',
 'ENSG00000012660',
 'ENSG00000079739',
 'ENSG00000125356',
 'ENSG00000173145',
 'ENSG00000000419',
 'ENSG00000196396',
 'ENSG00000124214',
 'ENSG00000085998',
 'ENSG00000142945',
 'ENSG00000122359',
 'ENSG00000117419',
 'ENSG00000171453',
 'ENSG00000136819',
 'ENSG00000171793',
 'ENSG00000025772',
 'ENSG00000167118',
 'ENSG00000182180',
 'ENSG00000197982',
 'ENSG00000134697',
 'ENSG00000116863',
 'ENSG00000136807',
 'ENSG00000171224',
 'ENSG00000136830',
 'ENSG00000102144',
 'ENSG00000084623',
 'ENSG00000147162',
 'ENSG00000198492',
 'ENSG00000117748',
 'ENSG00000122952',
 'ENSG00000136888',
 'ENSG00000136875',
 'ENSG00000183726',
 'ENSG00000125944',
 'ENSG00000244038',
 'ENSG00000204272',
 'ENSG00000196305',
 'ENSG00000095787',
 'ENSG00000148459',
 'ENSG00000165119',
 'ENSG00000102007',
 'ENSG00000135018',
 'ENSG00000135002',
 'ENSG00000116663',
 'ENSG00000088930',
 'ENSG00000171603',
 'ENSG00000160948',
 'ENSG00000147996',
 'ENSG00000118939',
 'ENSG00000089006',
 'ENSG00000204899',
 'ENSG00000136108',
 'ENSG00000064313',
 'ENSG00000111802',
 'ENSG00000130764',
 'ENSG00000197785',
 'ENSG00000177189',
 'ENSG00000124802',
 'ENSG00000124787',
 'ENSG00000099810',
 'ENSG00000155876',
 'ENSG00000205531',
 'ENSG00000021355',
 'ENSG00000112699',
 'ENSG00000085231',
 'ENSG00000163132',
 'ENSG00000183624',
 'ENSG00000155827',
 'ENSG00000211460',
 'ENSG00000212864',
 'ENSG00000204673',
 'ENSG00000104960',
 'ENSG00000126457',
 'ENSG00000142541',
 'ENSG00000090372',
 'ENSG00000141551',
 'ENSG00000108946',
 'ENSG00000011052',
 'ENSG00000169756',
 'ENSG00000072571',
 'ENSG00000100650',
 'ENSG00000164022',
 'ENSG00000015479',
 'ENSG00000149476',
 'ENSG00000197746',
 'ENSG00000138629',
 'ENSG00000213639',
 'ENSG00000170312',
 'ENSG00000198218',
 'ENSG00000151239',
 'ENSG00000164051',
 'ENSG00000198301',
 'ENSG00000133027',
 'ENSG00000149089',
 'ENSG00000140307',
 'ENSG00000185104',
 'ENSG00000106052',
 'ENSG00000124795',
 'ENSG00000131165',
 'ENSG00000104613',
 'ENSG00000073969',
 'ENSG00000131508',
 'ENSG00000134884',
 'ENSG00000055070',
 'ENSG00000082898',
 'ENSG00000153310',
 'ENSG00000183955',
 'ENSG00000152700',
 'ENSG00000184164',
 'ENSG00000119537',
 'ENSG00000100106',
 'ENSG00000115685',
 'ENSG00000066044',
 'ENSG00000138698',
 'ENSG00000144485',
 'ENSG00000228300',
 'ENSG00000082153',
 'ENSG00000169221',
 'ENSG00000132305',
 'ENSG00000184900',
 'ENSG00000224032',
 'ENSG00000141380',
 'ENSG00000161179',
 'ENSG00000113141',
 'ENSG00000067560',
 'ENSG00000226417',
 'ENSG00000140995',
 'ENSG00000112378',
 'ENSG00000107566',
 'ENSG00000224156',
 'ENSG00000226248',
 'ENSG00000213024',
 'ENSG00000163931',
 'ENSG00000047849',
 'ENSG00000182899',
 'ENSG00000221983',
 'ENSG00000162910',
 'ENSG00000226225',
 'ENSG00000141934',
 'ENSG00000235030',
 'ENSG00000197879',
 'ENSG00000235657',
 'ENSG00000120063',
 'ENSG00000228716',
 'ENSG00000133657',
 'ENSG00000153187',
 'ENSG00000197498',
 'ENSG00000073536',
 'ENSG00000100142',
 'ENSG00000233927',
 'ENSG00000063244',
 'ENSG00000188343',
 'ENSG00000236081',
 'ENSG00000123297',
 'ENSG00000093144',
 'ENSG00000225663',
 'ENSG00000169490',
 'ENSG00000024526',
 'ENSG00000226651',
 'ENSG00000226589',
 'ENSG00000197780',
 'ENSG00000123595',
 'ENSG00000198843',
 'ENSG00000124164',
 'ENSG00000175061',
 'ENSG00000189171',
 'ENSG00000136522',
 'ENSG00000243927',
 'ENSG00000143575',
 'ENSG00000108064',
 'ENSG00000111832',
 'ENSG00000103549',
 'ENSG00000054282',
 'ENSG00000109270',
 'ENSG00000131187',
 'ENSG00000171421',
 'ENSG00000145247',
 'ENSG00000129055',
 'ENSG00000120533',
 'ENSG00000254087',
 'ENSG00000163866',
 'ENSG00000156469',
 'ENSG00000110700',
 'ENSG00000073921',
 'ENSG00000110660',
 'ENSG00000172922',
 'ENSG00000147804',
 'ENSG00000115641',
 'ENSG00000175348',
 'ENSG00000151503',
 'ENSG00000029725',
 'ENSG00000255717',
 'ENSG00000179195',
 'ENSG00000185813',
 'ENSG00000071994',
 'ENSG00000105281',
 'ENSG00000111530',
 'ENSG00000178449',
 'ENSG00000151131',
 'ENSG00000100883',
 'ENSG00000077235',
 'ENSG00000261740',
 'ENSG00000171490',
 'ENSG00000262664',
 'ENSG00000141198',
 'ENSG00000266472',
 'ENSG00000105048',
 'ENSG00000104886',
 'ENSG00000104979',
 'ENSG00000108479',
 'ENSG00000127540',
 'ENSG00000141428',
 'ENSG00000229833',
 'ENSG00000183207',
 'ENSG00000142546',
 'ENSG00000178980',
 'ENSG00000254858',
 'ENSG00000172428',
 'ENSG00000153130',
 'ENSG00000274523',
 'ENSG00000164346',
 'ENSG00000277203',
 'ENSG00000278087',
 'ENSG00000273889',
 'ENSG00000185043',
 'ENSG00000277443',
 'ENSG00000277972',
 'ENSG00000147676',
 'ENSG00000146143',
 'ENSG00000172725',
 'ENSG00000274474',
 'ENSG00000274626',
 'ENSG00000276045',
 'ENSG00000273611',
 'ENSG00000278229',
 'ENSG00000160957',
 'ENSG00000277773',
 'ENSG00000117308',
 'ENSG00000124535',
 'ENSG00000275216',
 'ENSG00000101447',
 'ENSG00000161714',
 'ENSG00000275903',
 'ENSG00000166295',
 'ENSG00000280627',
 'ENSG00000281221',
 'ENSG00000282105',
 'ENSG00000284707']

In [20]:
random.seed(4262)
random.shuffle(unique_genes_training)
cross_val_data = chunks(unique_genes_training, round(len(unique_genes_training)/10)) # Will be using k=10 folds
cross_val_data = list(cross_val_data)

# Check to see what the cross_val_data looks like
for i in cross_val_data:
    print(i)
    print(len(i))
    print('')

['ENSG00000163479', 'ENSG00000115368', 'ENSG00000158864', 'ENSG00000171421', 'ENSG00000185104', 'ENSG00000197785', 'ENSG00000135018', 'ENSG00000178105', 'ENSG00000226589', 'ENSG00000117133', 'ENSG00000095139', 'ENSG00000261740', 'ENSG00000118579', 'ENSG00000177426', 'ENSG00000106682', 'ENSG00000186834', 'ENSG00000130741', 'ENSG00000175061', 'ENSG00000140995', 'ENSG00000172009', 'ENSG00000124795', 'ENSG00000131116', 'ENSG00000253729', 'ENSG00000184575', 'ENSG00000171858', 'ENSG00000134884', 'ENSG00000133818', 'ENSG00000100644', 'ENSG00000125753', 'ENSG00000140307', 'ENSG00000187555', 'ENSG00000078399', 'ENSG00000149089', 'ENSG00000185813', 'ENSG00000229833', 'ENSG00000138166', 'ENSG00000100994', 'ENSG00000133318', 'ENSG00000100991', 'ENSG00000169490', 'ENSG00000144848', 'ENSG00000166165', 'ENSG00000108064', 'ENSG00000167863', 'ENSG00000110700', 'ENSG00000132768', 'ENSG00000161956', 'ENSG00000155876', 'ENSG00000174903', 'ENSG00000125970', 'ENSG00000100422', 'ENSG00000079462', 'ENSG00000163466', 'ENSG00000162704', 'ENSG00000148459', 'ENSG00000141985', 'ENSG00000100106', 'ENSG00000111642', 'ENSG00000141522', 'ENSG00000164346', 'ENSG00000119537', 'ENSG00000146143', 'ENSG00000088205', 'ENSG00000196642', 'ENSG00000169180', 'ENSG00000112118', 'ENSG00000196396', 'ENSG00000110315', 'ENSG00000104231', 'ENSG00000153989', 'ENSG00000277203', 'ENSG00000156482', 'ENSG00000164934', 'ENSG00000130414', 'ENSG00000141429', 'ENSG00000197136', 'ENSG00000179562', 'ENSG00000119718', 'ENSG00000198826', 'ENSG00000277443', 'ENSG00000244038']
81

['ENSG00000266472', 'ENSG00000170759', 'ENSG00000185085', 'ENSG00000163636', 'ENSG00000130764', 'ENSG00000254087', 'ENSG00000106554', 'ENSG00000136830', 'ENSG00000135002', 'ENSG00000089006', 'ENSG00000182512', 'ENSG00000135457', 'ENSG00000275216', 'ENSG00000105669', 'ENSG00000226248', 'ENSG00000100345', 'ENSG00000134531', 'ENSG00000145907', 'ENSG00000060688', 'ENSG00000226651', 'ENSG00000196850', 'ENSG00000105819', 'ENSG00000154723', 'ENSG00000205581', 'ENSG00000108946', 'ENSG00000124614', 'ENSG00000149923', 'ENSG00000025772', 'ENSG00000105048', 'ENSG00000105968', 'ENSG00000160710', 'ENSG00000054282', 'ENSG00000122952', 'ENSG00000103266', 'ENSG00000149823', 'ENSG00000183207', 'ENSG00000115234', 'ENSG00000107862', 'ENSG00000073536', 'ENSG00000278229', 'ENSG00000176101', 'ENSG00000143436', 'ENSG00000117543', 'ENSG00000160447', 'ENSG00000115053', 'ENSG00000064961', 'ENSG00000132507', 'ENSG00000121022', 'ENSG00000198755', 'ENSG00000038274', 'ENSG00000176894', 'ENSG00000103024', 'ENSG00000117308', 'ENSG00000162961', 'ENSG00000198218', 'ENSG00000106591', 'ENSG00000185043', 'ENSG00000105974', 'ENSG00000155287', 'ENSG00000228253', 'ENSG00000103549', 'ENSG00000173442', 'ENSG00000066044', 'ENSG00000135972', 'ENSG00000163832', 'ENSG00000281221', 'ENSG00000024526', 'ENSG00000198700', 'ENSG00000235657', 'ENSG00000183011', 'ENSG00000172725', 'ENSG00000133657', 'ENSG00000051596', 'ENSG00000085998', 'ENSG00000147684', 'ENSG00000126458', 'ENSG00000173456', 'ENSG00000198113', 'ENSG00000115275', 'ENSG00000123091', 'ENSG00000102738']
81

['ENSG00000130332', 'ENSG00000116871', 'ENSG00000074842', 'ENSG00000104960', 'ENSG00000079616', 'ENSG00000172336', 'ENSG00000131100', 'ENSG00000152518', 'ENSG00000183624', 'ENSG00000185721', 'ENSG00000100983', 'ENSG00000153827', 'ENSG00000130826', 'ENSG00000125868', 'ENSG00000087191', 'ENSG00000179021', 'ENSG00000141551', 'ENSG00000131187', 'ENSG00000141380', 'ENSG00000111321', 'ENSG00000138031', 'ENSG00000110057', 'ENSG00000151239', 'ENSG00000276045', 'ENSG00000160957', 'ENSG00000116473', 'ENSG00000100294', 'ENSG00000198886', 'ENSG00000188554', 'ENSG00000008952', 'ENSG00000198843', 'ENSG00000100941', 'ENSG00000167699', 'ENSG00000166797', 'ENSG00000162980', 'ENSG00000168056', 'ENSG00000169627', 'ENSG00000104979', 'ENSG00000064666', 'ENSG00000163132', 'ENSG00000225663', 'ENSG00000115641', 'ENSG00000108826', 'ENSG00000128309', 'ENSG00000100142', 'ENSG00000005075', 'ENSG00000213523', 'ENSG00000196961', 'ENSG00000122359', 'ENSG00000165389', 'ENSG00000136819', 'ENSG00000134440', 'ENSG00000136522', 'ENSG00000115159', 'ENSG00000020426', 'ENSG00000087086', 'ENSG00000132305', 'ENSG00000071994', 'ENSG00000138095', 'ENSG00000021355', 'ENSG00000167797', 'ENSG00000198954', 'ENSG00000136193', 'ENSG00000167005', 'ENSG00000212907', 'ENSG00000213281', 'ENSG00000149476', 'ENSG00000128185', 'ENSG00000130479', 'ENSG00000095059', 'ENSG00000221983', 'ENSG00000114302', 'ENSG00000197756', 'ENSG00000120875', 'ENSG00000128059', 'ENSG00000067560', 'ENSG00000116670', 'ENSG00000152684', 'ENSG00000155827', 'ENSG00000162734', 'ENSG00000108298']
81

['ENSG00000153187', 'ENSG00000187778', 'ENSG00000070423', 'ENSG00000144580', 'ENSG00000106052', 'ENSG00000080371', 'ENSG00000147804', 'ENSG00000103653', 'ENSG00000160209', 'ENSG00000065518', 'ENSG00000116237', 'ENSG00000103035', 'ENSG00000109332', 'ENSG00000168090', 'ENSG00000124802', 'ENSG00000126581', 'ENSG00000154978', 'ENSG00000204899', 'ENSG00000130312', 'ENSG00000160948', 'ENSG00000158164', 'ENSG00000243927', 'ENSG00000079739', 'ENSG00000100906', 'ENSG00000227500', 'ENSG00000186298', 'ENSG00000160679', 'ENSG00000124164', 'ENSG00000164897', 'ENSG00000184216', 'ENSG00000118939', 'ENSG00000169221', 'ENSG00000131165', 'ENSG00000198467', 'ENSG00000101544', 'ENSG00000100504', 'ENSG00000037241', 'ENSG00000105849', 'ENSG00000126226', 'ENSG00000262664', 'ENSG00000165119', 'ENSG00000205531', 'ENSG00000075975', 'ENSG00000224032', 'ENSG00000111229', 'ENSG00000165792', 'ENSG00000166851', 'ENSG00000161981', 'ENSG00000103502', 'ENSG00000034510', 'ENSG00000100116', 'ENSG00000123989', 'ENSG00000116661', 'ENSG00000178425', 'ENSG00000090861', 'ENSG00000082153', 'ENSG00000161091', 'ENSG00000159140', 'ENSG00000143198', 'ENSG00000047849', 'ENSG00000197746', 'ENSG00000132612', 'ENSG00000151131', 'ENSG00000161714', 'ENSG00000100997', 'ENSG00000090372', 'ENSG00000155380', 'ENSG00000102007', 'ENSG00000226225', 'ENSG00000182180', 'ENSG00000198876', 'ENSG00000109180', 'ENSG00000133027', 'ENSG00000131508', 'ENSG00000143815', 'ENSG00000169756', 'ENSG00000146540', 'ENSG00000166598', 'ENSG00000132819', 'ENSG00000145354', 'ENSG00000124535']
81

['ENSG00000170312', 'ENSG00000134590', 'ENSG00000184162', 'ENSG00000162642', 'ENSG00000143013', 'ENSG00000132313', 'ENSG00000029725', 'ENSG00000130985', 'ENSG00000143183', 'ENSG00000132661', 'ENSG00000105372', 'ENSG00000166411', 'ENSG00000273611', 'ENSG00000035687', 'ENSG00000136104', 'ENSG00000101361', 'ENSG00000100567', 'ENSG00000138757', 'ENSG00000178741', 'ENSG00000011052', 'ENSG00000125356', 'ENSG00000127955', 'ENSG00000217555', 'ENSG00000164611', 'ENSG00000130638', 'ENSG00000124380', 'ENSG00000278087', 'ENSG00000178980', 'ENSG00000125944', 'ENSG00000160201', 'ENSG00000136444', 'ENSG00000117691', 'ENSG00000166295', 'ENSG00000146282', 'ENSG00000060138', 'ENSG00000166333', 'ENSG00000093144', 'ENSG00000126787', 'ENSG00000159753', 'ENSG00000111530', 'ENSG00000123992', 'ENSG00000150316', 'ENSG00000122873', 'ENSG00000134697', 'ENSG00000137575', 'ENSG00000182511', 'ENSG00000124702', 'ENSG00000123144', 'ENSG00000149547', 'ENSG00000104613', 'ENSG00000168028', 'ENSG00000132432', 'ENSG00000228716', 'ENSG00000160932', 'ENSG00000174231', 'ENSG00000277773', 'ENSG00000136108', 'ENSG00000069329', 'ENSG00000170293', 'ENSG00000164867', 'ENSG00000163634', 'ENSG00000149313', 'ENSG00000144034', 'ENSG00000175745', 'ENSG00000100883', 'ENSG00000069849', 'ENSG00000134287', 'ENSG00000106367', 'ENSG00000228300', 'ENSG00000247596', 'ENSG00000166337', 'ENSG00000135387', 'ENSG00000141076', 'ENSG00000277972', 'ENSG00000226417', 'ENSG00000108523', 'ENSG00000012061', 'ENSG00000204673', 'ENSG00000000419', 'ENSG00000023041', 'ENSG00000138629']
81

['ENSG00000107949', 'ENSG00000149218', 'ENSG00000224156', 'ENSG00000022840', 'ENSG00000147586', 'ENSG00000049541', 'ENSG00000116221', 'ENSG00000105722', 'ENSG00000196976', 'ENSG00000166681', 'ENSG00000171224', 'ENSG00000070831', 'ENSG00000155096', 'ENSG00000236081', 'ENSG00000174173', 'ENSG00000137513', 'ENSG00000103274', 'ENSG00000164051', 'ENSG00000198301', 'ENSG00000163866', 'ENSG00000151503', 'ENSG00000274626', 'ENSG00000171067', 'ENSG00000178802', 'ENSG00000126432', 'ENSG00000112667', 'ENSG00000147676', 'ENSG00000135750', 'ENSG00000161179', 'ENSG00000159840', 'ENSG00000273889', 'ENSG00000189227', 'ENSG00000120063', 'ENSG00000183726', 'ENSG00000075624', 'ENSG00000142546', 'ENSG00000106028', 'ENSG00000116750', 'ENSG00000198668', 'ENSG00000108256', 'ENSG00000262814', 'ENSG00000122565', 'ENSG00000168036', 'ENSG00000142534', 'ENSG00000163931', 'ENSG00000112378', 'ENSG00000163814', 'ENSG00000100243', 'ENSG00000123179', 'ENSG00000143727', 'ENSG00000163468', 'ENSG00000186174', 'ENSG00000115649', 'ENSG00000117751', 'ENSG00000108021', 'ENSG00000117748', 'ENSG00000137038', 'ENSG00000073969', 'ENSG00000108107', 'ENSG00000033050', 'ENSG00000104973', 'ENSG00000155463', 'ENSG00000051523', 'ENSG00000142507', 'ENSG00000100348', 'ENSG00000111832', 'ENSG00000146457', 'ENSG00000168209', 'ENSG00000110660', 'ENSG00000100138', 'ENSG00000127666', 'ENSG00000090266', 'ENSG00000138073', 'ENSG00000103194', 'ENSG00000111678', 'ENSG00000214078', 'ENSG00000175602', 'ENSG00000084623', 'ENSG00000105402', 'ENSG00000059691', 'ENSG00000176390']
81

['ENSG00000085231', 'ENSG00000198042', 'ENSG00000112306', 'ENSG00000100417', 'ENSG00000186480', 'ENSG00000163191', 'ENSG00000101447', 'ENSG00000186184', 'ENSG00000108671', 'ENSG00000134333', 'ENSG00000038210', 'ENSG00000086232', 'ENSG00000147996', 'ENSG00000134153', 'ENSG00000171135', 'ENSG00000055070', 'ENSG00000091409', 'ENSG00000048828', 'ENSG00000198763', 'ENSG00000182899', 'ENSG00000274523', 'ENSG00000115524', 'ENSG00000212864', 'ENSG00000116857', 'ENSG00000172428', 'ENSG00000169567', 'ENSG00000141198', 'ENSG00000168894', 'ENSG00000169715', 'ENSG00000136636', 'ENSG00000198363', 'ENSG00000147065', 'ENSG00000183735', 'ENSG00000180228', 'ENSG00000099624', 'ENSG00000099810', 'ENSG00000100401', 'ENSG00000141279', 'ENSG00000233927', 'ENSG00000168288', 'ENSG00000110768', 'ENSG00000145293', 'ENSG00000065000', 'ENSG00000065150', 'ENSG00000160072', 'ENSG00000106263', 'ENSG00000184900', 'ENSG00000197982', 'ENSG00000156469', 'ENSG00000244045', 'ENSG00000104312', 'ENSG00000141428', 'ENSG00000198917', 'ENSG00000136718', 'ENSG00000167815', 'ENSG00000164944', 'ENSG00000181019', 'ENSG00000114115', 'ENSG00000197905', 'ENSG00000100836', 'ENSG00000213593', 'ENSG00000156802', 'ENSG00000176853', 'ENSG00000015479', 'ENSG00000282105', 'ENSG00000138768', 'ENSG00000064313', 'ENSG00000109606', 'ENSG00000167779', 'ENSG00000125520', 'ENSG00000167552', 'ENSG00000126453', 'ENSG00000132591', 'ENSG00000120742', 'ENSG00000073921', 'ENSG00000123562', 'ENSG00000197879', 'ENSG00000100650', 'ENSG00000196683', 'ENSG00000176845', 'ENSG00000110880']
81

['ENSG00000108479', 'ENSG00000171490', 'ENSG00000275903', 'ENSG00000267855', 'ENSG00000100603', 'ENSG00000162889', 'ENSG00000063244', 'ENSG00000173418', 'ENSG00000178999', 'ENSG00000104824', 'ENSG00000100347', 'ENSG00000132155', 'ENSG00000130522', 'ENSG00000116459', 'ENSG00000138495', 'ENSG00000082898', 'ENSG00000112208', 'ENSG00000179195', 'ENSG00000284707', 'ENSG00000145425', 'ENSG00000013583', 'ENSG00000142945', 'ENSG00000090060', 'ENSG00000188313', 'ENSG00000213639', 'ENSG00000105379', 'ENSG00000034152', 'ENSG00000110958', 'ENSG00000111206', 'ENSG00000168785', 'ENSG00000175315', 'ENSG00000239672', 'ENSG00000090686', 'ENSG00000118418', 'ENSG00000198736', 'ENSG00000090487', 'ENSG00000008018', 'ENSG00000089154', 'ENSG00000119487', 'ENSG00000128228', 'ENSG00000109270', 'ENSG00000176102', 'ENSG00000120438', 'ENSG00000124422', 'ENSG00000183955', 'ENSG00000119403', 'ENSG00000132002', 'ENSG00000177732', 'ENSG00000173145', 'ENSG00000173638', 'ENSG00000069998', 'ENSG00000254858', 'ENSG00000145365', 'ENSG00000123983', 'ENSG00000105281', 'ENSG00000244509', 'ENSG00000111786', 'ENSG00000114353', 'ENSG00000070010', 'ENSG00000072571', 'ENSG00000072849', 'ENSG00000197223', 'ENSG00000115685', 'ENSG00000163399', 'ENSG00000092621', 'ENSG00000138772', 'ENSG00000182774', 'ENSG00000135372', 'ENSG00000154582', 'ENSG00000170522', 'ENSG00000211460', 'ENSG00000173272', 'ENSG00000166803', 'ENSG00000170540', 'ENSG00000168003', 'ENSG00000196305', 'ENSG00000129354', 'ENSG00000100612', 'ENSG00000124214', 'ENSG00000167508', 'ENSG00000088930']
81

['ENSG00000116663', 'ENSG00000173915', 'ENSG00000235030', 'ENSG00000175416', 'ENSG00000006451', 'ENSG00000123595', 'ENSG00000171603', 'ENSG00000123297', 'ENSG00000173621', 'ENSG00000096384', 'ENSG00000124383', 'ENSG00000136261', 'ENSG00000144485', 'ENSG00000130429', 'ENSG00000033011', 'ENSG00000102753', 'ENSG00000130202', 'ENSG00000165775', 'ENSG00000163170', 'ENSG00000170296', 'ENSG00000173726', 'ENSG00000198712', 'ENSG00000075336', 'ENSG00000206418', 'ENSG00000165661', 'ENSG00000142541', 'ENSG00000168938', 'ENSG00000167671', 'ENSG00000255717', 'ENSG00000115211', 'ENSG00000167196', 'ENSG00000182108', 'ENSG00000120533', 'ENSG00000102144', 'ENSG00000102317', 'ENSG00000010292', 'ENSG00000134152', 'ENSG00000162910', 'ENSG00000079999', 'ENSG00000105771', 'ENSG00000055044', 'ENSG00000206053', 'ENSG00000214113', 'ENSG00000106603', 'ENSG00000177189', 'ENSG00000143870', 'ENSG00000113810', 'ENSG00000101928', 'ENSG00000124333', 'ENSG00000143575', 'ENSG00000189171', 'ENSG00000149925', 'ENSG00000213024', 'ENSG00000133265', 'ENSG00000109861', 'ENSG00000101166', 'ENSG00000113141', 'ENSG00000145247', 'ENSG00000244187', 'ENSG00000146729', 'ENSG00000119013', 'ENSG00000197728', 'ENSG00000167118', 'ENSG00000141934', 'ENSG00000126457', 'ENSG00000153130', 'ENSG00000160075', 'ENSG00000152700', 'ENSG00000164022', 'ENSG00000125991', 'ENSG00000197780', 'ENSG00000149136', 'ENSG00000169047', 'ENSG00000105186', 'ENSG00000127540', 'ENSG00000077235', 'ENSG00000175348', 'ENSG00000205937', 'ENSG00000109111', 'ENSG00000112699', 'ENSG00000136888']
81

['ENSG00000171453', 'ENSG00000116863', 'ENSG00000188343', 'ENSG00000198492', 'ENSG00000124787', 'ENSG00000101084', 'ENSG00000147162', 'ENSG00000119326', 'ENSG00000181061', 'ENSG00000178449', 'ENSG00000204272', 'ENSG00000196365', 'ENSG00000213931', 'ENSG00000168802', 'ENSG00000163902', 'ENSG00000069011', 'ENSG00000113368', 'ENSG00000104886', 'ENSG00000147416', 'ENSG00000162702', 'ENSG00000172922', 'ENSG00000184164', 'ENSG00000126088', 'ENSG00000144021', 'ENSG00000134049', 'ENSG00000143753', 'ENSG00000105438', 'ENSG00000117395', 'ENSG00000152556', 'ENSG00000173085', 'ENSG00000129055', 'ENSG00000148908', 'ENSG00000166226', 'ENSG00000140525', 'ENSG00000110651', 'ENSG00000095787', 'ENSG00000153310', 'ENSG00000052344', 'ENSG00000154174', 'ENSG00000141127', 'ENSG00000107566', 'ENSG00000011295', 'ENSG00000151929', 'ENSG00000109805', 'ENSG00000136950', 'ENSG00000127838', 'ENSG00000112339', 'ENSG00000197498', 'ENSG00000055950', 'ENSG00000197956', 'ENSG00000136875', 'ENSG00000136807', 'ENSG00000171793', 'ENSG00000117419', 'ENSG00000164713', 'ENSG00000198130', 'ENSG00000105698', 'ENSG00000136159', 'ENSG00000116096', 'ENSG00000274474', 'ENSG00000111802', 'ENSG00000012660', 'ENSG00000159131', 'ENSG00000138698', 'ENSG00000090432', 'ENSG00000280627', 'ENSG00000130309', 'ENSG00000119986', 'ENSG00000179010', 'ENSG00000167114', 'ENSG00000133704', 'ENSG00000213563', 'ENSG00000140943', 'ENSG00000213782', 'ENSG00000105486', 'ENSG00000140612', 'ENSG00000086504', 'ENSG00000136240', 'ENSG00000117984']
79

In [21]:
# training_X

In [22]:
roc_auc_scores = []
pr_auc_scores = []
for i in range(len(cross_val_data)):
    print(cross_val_data[i]) # The set that is selected will be used for validation
    print("testing", i)
    # Train test split on training set
    training_cross_val = training_data[~training_data['Gene Name'].isin(cross_val_data[i])]
    validation_cross_val = training_data[training_data['Gene Name'].isin(cross_val_data[i])]
    
    training_cross_val_y = training_cross_val['Label'].reset_index(drop=True)
    training_cross_val_X = training_cross_val.drop(['Label'], axis=1).reset_index(drop=True)
    validation_cross_val_y = validation_cross_val['Label'].reset_index(drop=True)
    validation_cross_val_X = validation_cross_val.drop(['Label'], axis=1).reset_index(drop=True)
    
    # Feature engineering
    
    # Add in relative positions
    relative_positions = [1,2,3] * int(len(training_cross_val_X)/3)
    relative_positions_df = pd.DataFrame(relative_positions, columns=['Relative Position'])
    training_cross_val_X = pd.concat([training_cross_val_X, relative_positions_df],axis=1)
    
    training_cross_val_X['Count_A'], training_cross_val_X['Count_T'], training_cross_val_X['Count_C'], training_cross_val_X['Count_G'] = zip(*training_cross_val_X['Bases'].apply(count_bases)) 
    training_cross_val_dummies = pd.get_dummies(training_cross_val_X['Bases'], drop_first=True)
    training_cross_val_X = pd.concat([training_cross_val_X, training_cross_val_dummies],axis=1).drop(['Bases'],axis=1)
    
    # Add in relative positions
    relative_positions = [1,2,3] * int(len(validation_cross_val_X)/3)
    relative_positions_df = pd.DataFrame(relative_positions, columns=['Relative Position'])
    validation_cross_val_X = pd.concat([validation_cross_val_X, relative_positions_df],axis=1)

    validation_cross_val_X['Count_A'], validation_cross_val_X['Count_T'], validation_cross_val_X['Count_C'], validation_cross_val_X['Count_G'] = zip(*validation_cross_val_X['Bases'].apply(count_bases)) 
    validation_cross_val_dummies = pd.get_dummies(validation_cross_val_X['Bases'], drop_first=True)
    validation_cross_val_X = pd.concat([validation_cross_val_X, validation_cross_val_dummies],axis=1).drop(['Bases'],axis=1)
    
    # Drop additional variables via pearson correlation and feature_importances_
    training_cross_val_X = training_cross_val_X.drop(training_cross_val_X[to_drop], axis=1).drop(['Position'],axis=1)
    validation_cross_val_X = validation_cross_val_X.drop(validation_cross_val_X[to_drop], axis=1).drop(['Position'],axis=1)
    
    training_cross_val_X = training_cross_val_X[top_features]
    validation_cross_val_X = validation_cross_val_X[top_features]
    
    training_cross_val_X = training_cross_val_X.drop(['Transcript Name', 'Gene Name'], axis=1)
    validation_cross_val_X = validation_cross_val_X.drop(['Transcript Name', 'Gene Name'], axis=1)
    print(validation_cross_val_X)
    
    # Use RandomUnderSampler to sample majority class until minority class makes up 5% of the majority class counts
    over = SMOTE(sampling_strategy=0.3)
    training_cross_val_X, training_cross_val_y = over.fit_resample(training_cross_val_X, training_cross_val_y)
    print("Number of columns in training_cross_val_X is", len(training_cross_val_X.columns))
    print("Number of columns in validation_cross_val_X is", len(validation_cross_val_X.columns))
    
    # Fitting ML model
    random.seed(4262)
    model = GradientBoostingClassifier(random_state=4262, max_depth=6, max_features = "log2", criterion = "friedman_mse", n_estimators = 500, loss = "log_loss", learning_rate = 0.1)
    model.fit(training_cross_val_X, training_cross_val_y)
    y_score = model.predict_proba(validation_cross_val_X)
    y_pred = model.predict(validation_cross_val_X)
    
    # Make sure that only DRACH sites are present before checking scores
    y_score = pd.DataFrame(y_score[:,1], columns = ['Predicted Score'])
    y_pred = pd.DataFrame(y_pred, columns=['Predicted'])
    validation_cross_val_y = validation_cross_val_y.to_frame()
    
    y_pred_and_validation_y = pd.concat([y_score, validation_cross_val_y, y_pred],axis=1)
    indicator = pd.DataFrame([0,1,0] * int(len(y_pred_and_validation_y) / 3), columns = ['Indicator'])
    y_pred_and_validation_y = pd.concat([y_pred_and_validation_y, indicator], axis=1)
    y_pred_and_validation_y = y_pred_and_validation_y[y_pred_and_validation_y['Indicator'] == 1]
    y_pred_and_validation_y = y_pred_and_validation_y.drop(['Indicator'], axis=1)
    
    # Convert DataFrame to Series before checking ROC AUC and PR AUC Score
    validation_cross_val_y = y_pred_and_validation_y['Label'].squeeze()
    y_score = y_pred_and_validation_y['Predicted Score'].squeeze()
    y_pred = y_pred_and_validation_y['Predicted'].squeeze()

    roc_auc_scores.append(roc_auc_score(validation_cross_val_y, y_score, average=None))

    # Data to plot precision - recall curve
    precision, recall, thresholds = precision_recall_curve(validation_cross_val_y, y_score)
    # Use AUC function to calculate the area under the curve of precision recall curve
    auc_precision_recall = auc(recall, precision)
    pr_auc_scores.append(auc_precision_recall)
    
print('Mean roc auc score is', np.mean(roc_auc_scores))
print('Mean pr auc score is', np.mean(auc_precision_recall))

['ENSG00000163479', 'ENSG00000115368', 'ENSG00000158864', 'ENSG00000171421', 'ENSG00000185104', 'ENSG00000197785', 'ENSG00000135018', 'ENSG00000178105', 'ENSG00000226589', 'ENSG00000117133', 'ENSG00000095139', 'ENSG00000261740', 'ENSG00000118579', 'ENSG00000177426', 'ENSG00000106682', 'ENSG00000186834', 'ENSG00000130741', 'ENSG00000175061', 'ENSG00000140995', 'ENSG00000172009', 'ENSG00000124795', 'ENSG00000131116', 'ENSG00000253729', 'ENSG00000184575', 'ENSG00000171858', 'ENSG00000134884', 'ENSG00000133818', 'ENSG00000100644', 'ENSG00000125753', 'ENSG00000140307', 'ENSG00000187555', 'ENSG00000078399', 'ENSG00000149089', 'ENSG00000185813', 'ENSG00000229833', 'ENSG00000138166', 'ENSG00000100994', 'ENSG00000133318', 'ENSG00000100991', 'ENSG00000169490', 'ENSG00000144848', 'ENSG00000166165', 'ENSG00000108064', 'ENSG00000167863', 'ENSG00000110700', 'ENSG00000132768', 'ENSG00000161956', 'ENSG00000155876', 'ENSG00000174903', 'ENSG00000125970', 'ENSG00000100422', 'ENSG00000079462', 'ENSG00000163466', 'ENSG00000162704', 'ENSG00000148459', 'ENSG00000141985', 'ENSG00000100106', 'ENSG00000111642', 'ENSG00000141522', 'ENSG00000164346', 'ENSG00000119537', 'ENSG00000146143', 'ENSG00000088205', 'ENSG00000196642', 'ENSG00000169180', 'ENSG00000112118', 'ENSG00000196396', 'ENSG00000110315', 'ENSG00000104231', 'ENSG00000153989', 'ENSG00000277203', 'ENSG00000156482', 'ENSG00000164934', 'ENSG00000130414', 'ENSG00000141429', 'ENSG00000197136', 'ENSG00000179562', 'ENSG00000119718', 'ENSG00000198826', 'ENSG00000277443', 'ENSG00000244038']
testing 0
       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     3.650000      0      0      0        0      0                  1      0
1     4.383636      0      0      0        0      0                  2      0
2     1.985000      0      0      0        1      0                  3      0
3     2.553333      0      0      0        0      0                  1      0
4     3.421667      0      0      0        0      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
8053  3.498750      0      0      0        1      0                  2      0
8054  1.796475      0      0      0        1      0                  3      0
8055  4.937419      0      0      0        0      0                  1      0
8056  8.184516      0      0      0        1      0                  2      0
8057  3.656452      0      0      0        1      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
8053      0      0  ...      0      0      0      0      0      0      0
8054      0      0  ...      0      0      0      0      0      0      0
8055      0      0  ...      0      0      0      0      0      0      0
8056      0      0  ...      0      0      0      0      0      0      0
8057      0      0  ...      0      0      0      0      0      0      0

      TAACC  AGGAC  CAGAC
0         0      0      0
1         0      0      0
2         0      0      0
3         0      0      0
4         0      0      0
...     ...    ...    ...
8053      0      0      0
8054      0      0      0
8055      0      0      0
8056      0      0      0
8057      0      0      0

[8058 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36
['ENSG00000266472', 'ENSG00000170759', 'ENSG00000185085', 'ENSG00000163636', 'ENSG00000130764', 'ENSG00000254087', 'ENSG00000106554', 'ENSG00000136830', 'ENSG00000135002', 'ENSG00000089006', 'ENSG00000182512', 'ENSG00000135457', 'ENSG00000275216', 'ENSG00000105669', 'ENSG00000226248', 'ENSG00000100345', 'ENSG00000134531', 'ENSG00000145907', 'ENSG00000060688', 'ENSG00000226651', 'ENSG00000196850', 'ENSG00000105819', 'ENSG00000154723', 'ENSG00000205581', 'ENSG00000108946', 'ENSG00000124614', 'ENSG00000149923', 'ENSG00000025772', 'ENSG00000105048', 'ENSG00000105968', 'ENSG00000160710', 'ENSG00000054282', 'ENSG00000122952', 'ENSG00000103266', 'ENSG00000149823', 'ENSG00000183207', 'ENSG00000115234', 'ENSG00000107862', 'ENSG00000073536', 'ENSG00000278229', 'ENSG00000176101', 'ENSG00000143436', 'ENSG00000117543', 'ENSG00000160447', 'ENSG00000115053', 'ENSG00000064961', 'ENSG00000132507', 'ENSG00000121022', 'ENSG00000198755', 'ENSG00000038274', 'ENSG00000176894', 'ENSG00000103024', 'ENSG00000117308', 'ENSG00000162961', 'ENSG00000198218', 'ENSG00000106591', 'ENSG00000185043', 'ENSG00000105974', 'ENSG00000155287', 'ENSG00000228253', 'ENSG00000103549', 'ENSG00000173442', 'ENSG00000066044', 'ENSG00000135972', 'ENSG00000163832', 'ENSG00000281221', 'ENSG00000024526', 'ENSG00000198700', 'ENSG00000235657', 'ENSG00000183011', 'ENSG00000172725', 'ENSG00000133657', 'ENSG00000051596', 'ENSG00000085998', 'ENSG00000147684', 'ENSG00000126458', 'ENSG00000173456', 'ENSG00000198113', 'ENSG00000115275', 'ENSG00000123091', 'ENSG00000102738']
testing 1
       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     2.984348      0      0      0        1      0                  1      0
1     4.970870      0      0      0        0      0                  2      0
2     2.980000      0      0      0        1      0                  3      0
3     6.360769      0      0      0        0      0                  1      0
4     6.035385      0      0      0        0      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
7324  6.165926      0      0      0        1      0                  2      0
7325  2.685741      0      0      0        2      0                  3      0
7326  4.599130      0      0      0        0      0                  1      0
7327  7.625217      0      0      0        0      0                  2      0
7328  4.053913      0      0      0        1      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
7324      0      0  ...      0      0      0      0      0      0      0
7325      0      0  ...      0      0      0      1      0      0      0
7326      0      0  ...      0      0      0      0      0      0      0
7327      0      0  ...      0      0      0      0      0      0      0
7328      0      0  ...      0      0      0      0      0      0      0

      TAACC  AGGAC  CAGAC
0         0      0      0
1         0      0      0
2         0      0      0
3         0      1      0
4         0      0      0
...     ...    ...    ...
7324      0      0      0
7325      0      0      0
7326      0      0      0
7327      0      0      0
7328      0      0      0

[7329 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36
['ENSG00000130332', 'ENSG00000116871', 'ENSG00000074842', 'ENSG00000104960', 'ENSG00000079616', 'ENSG00000172336', 'ENSG00000131100', 'ENSG00000152518', 'ENSG00000183624', 'ENSG00000185721', 'ENSG00000100983', 'ENSG00000153827', 'ENSG00000130826', 'ENSG00000125868', 'ENSG00000087191', 'ENSG00000179021', 'ENSG00000141551', 'ENSG00000131187', 'ENSG00000141380', 'ENSG00000111321', 'ENSG00000138031', 'ENSG00000110057', 'ENSG00000151239', 'ENSG00000276045', 'ENSG00000160957', 'ENSG00000116473', 'ENSG00000100294', 'ENSG00000198886', 'ENSG00000188554', 'ENSG00000008952', 'ENSG00000198843', 'ENSG00000100941', 'ENSG00000167699', 'ENSG00000166797', 'ENSG00000162980', 'ENSG00000168056', 'ENSG00000169627', 'ENSG00000104979', 'ENSG00000064666', 'ENSG00000163132', 'ENSG00000225663', 'ENSG00000115641', 'ENSG00000108826', 'ENSG00000128309', 'ENSG00000100142', 'ENSG00000005075', 'ENSG00000213523', 'ENSG00000196961', 'ENSG00000122359', 'ENSG00000165389', 'ENSG00000136819', 'ENSG00000134440', 'ENSG00000136522', 'ENSG00000115159', 'ENSG00000020426', 'ENSG00000087086', 'ENSG00000132305', 'ENSG00000071994', 'ENSG00000138095', 'ENSG00000021355', 'ENSG00000167797', 'ENSG00000198954', 'ENSG00000136193', 'ENSG00000167005', 'ENSG00000212907', 'ENSG00000213281', 'ENSG00000149476', 'ENSG00000128185', 'ENSG00000130479', 'ENSG00000095059', 'ENSG00000221983', 'ENSG00000114302', 'ENSG00000197756', 'ENSG00000120875', 'ENSG00000128059', 'ENSG00000067560', 'ENSG00000116670', 'ENSG00000152684', 'ENSG00000155827', 'ENSG00000162734', 'ENSG00000108298']
testing 2

       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     2.407500      0      0      0        0      0                  1      0
1     2.965000      0      0      0        1      0                  2      0
2     2.034000      0      0      0        1      0                  3      0
3     5.566957      0      0      0        0      0                  1      0
4     4.757391      0      0      0        1      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
6583  5.985000      0      0      0        0      0                  2      0
6584  3.255786      0      0      0        1      0                  3      0
6585  2.559655      0      0      0        0      0                  1      0
6586  4.114828      0      0      0        0      0                  2      0
6587  4.015172      0      0      0        1      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
6583      0      0  ...      0      0      0      0      0      0      0
6584      0      0  ...      0      0      0      0      0      0      0
6585      0      0  ...      0      0      0      0      0      0      0
6586      0      0  ...      0      0      0      0      0      0      0
6587      0      0  ...      0      0      0      0      0      0      0

      TAACC  AGGAC  CAGAC
0         0      0      0
1         0      0      0
2         0      0      0
3         0      1      0
4         0      0      0
...     ...    ...    ...
6583      0      0      0
6584      0      0      0
6585      0      0      0
6586      0      0      0
6587      0      0      0

[6588 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36
['ENSG00000153187', 'ENSG00000187778', 'ENSG00000070423', 'ENSG00000144580', 'ENSG00000106052', 'ENSG00000080371', 'ENSG00000147804', 'ENSG00000103653', 'ENSG00000160209', 'ENSG00000065518', 'ENSG00000116237', 'ENSG00000103035', 'ENSG00000109332', 'ENSG00000168090', 'ENSG00000124802', 'ENSG00000126581', 'ENSG00000154978', 'ENSG00000204899', 'ENSG00000130312', 'ENSG00000160948', 'ENSG00000158164', 'ENSG00000243927', 'ENSG00000079739', 'ENSG00000100906', 'ENSG00000227500', 'ENSG00000186298', 'ENSG00000160679', 'ENSG00000124164', 'ENSG00000164897', 'ENSG00000184216', 'ENSG00000118939', 'ENSG00000169221', 'ENSG00000131165', 'ENSG00000198467', 'ENSG00000101544', 'ENSG00000100504', 'ENSG00000037241', 'ENSG00000105849', 'ENSG00000126226', 'ENSG00000262664', 'ENSG00000165119', 'ENSG00000205531', 'ENSG00000075975', 'ENSG00000224032', 'ENSG00000111229', 'ENSG00000165792', 'ENSG00000166851', 'ENSG00000161981', 'ENSG00000103502', 'ENSG00000034510', 'ENSG00000100116', 'ENSG00000123989', 'ENSG00000116661', 'ENSG00000178425', 'ENSG00000090861', 'ENSG00000082153', 'ENSG00000161091', 'ENSG00000159140', 'ENSG00000143198', 'ENSG00000047849', 'ENSG00000197746', 'ENSG00000132612', 'ENSG00000151131', 'ENSG00000161714', 'ENSG00000100997', 'ENSG00000090372', 'ENSG00000155380', 'ENSG00000102007', 'ENSG00000226225', 'ENSG00000182180', 'ENSG00000198876', 'ENSG00000109180', 'ENSG00000133027', 'ENSG00000131508', 'ENSG00000143815', 'ENSG00000169756', 'ENSG00000146540', 'ENSG00000166598', 'ENSG00000132819', 'ENSG00000145354', 'ENSG00000124535']
testing 3
       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     2.857000      0      0      0        0      0                  1      0
1     4.018500      0      0      0        0      0                  2      0
2     3.156500      0      0      0        0      0                  3      0
3     3.013810      0      0      0        0      0                  1      0
4     3.642381      0      0      0        0      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
7162  2.620118      0      0      0        1      0                  2      0
7163  2.082118      0      0      0        2      0                  3      0
7164  2.353068      0      0      0        0      0                  1      0
7165  2.815593      0      0      0        1      0                  2      0
7166  2.267661      0      0      0        2      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
7162      0      0  ...      0      0      0      0      0      0      0
7163      0      0  ...      0      0      0      0      0      0      1
7164      0      0  ...      0      0      0      0      0      0      0
7165      0      0  ...      0      0      0      0      0      0      0
7166      0      0  ...      0      0      0      0      0      0      1

      TAACC  AGGAC  CAGAC
0         0      0      0
1         0      0      0
2         0      0      0
3         0      0      0
4         0      0      0
...     ...    ...    ...
7162      0      0      0
7163      0      0      0
7164      0      0      0
7165      0      0      0
7166      0      0      0

[7167 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36
['ENSG00000170312', 'ENSG00000134590', 'ENSG00000184162', 'ENSG00000162642', 'ENSG00000143013', 'ENSG00000132313', 'ENSG00000029725', 'ENSG00000130985', 'ENSG00000143183', 'ENSG00000132661', 'ENSG00000105372', 'ENSG00000166411', 'ENSG00000273611', 'ENSG00000035687', 'ENSG00000136104', 'ENSG00000101361', 'ENSG00000100567', 'ENSG00000138757', 'ENSG00000178741', 'ENSG00000011052', 'ENSG00000125356', 'ENSG00000127955', 'ENSG00000217555', 'ENSG00000164611', 'ENSG00000130638', 'ENSG00000124380', 'ENSG00000278087', 'ENSG00000178980', 'ENSG00000125944', 'ENSG00000160201', 'ENSG00000136444', 'ENSG00000117691', 'ENSG00000166295', 'ENSG00000146282', 'ENSG00000060138', 'ENSG00000166333', 'ENSG00000093144', 'ENSG00000126787', 'ENSG00000159753', 'ENSG00000111530', 'ENSG00000123992', 'ENSG00000150316', 'ENSG00000122873', 'ENSG00000134697', 'ENSG00000137575', 'ENSG00000182511', 'ENSG00000124702', 'ENSG00000123144', 'ENSG00000149547', 'ENSG00000104613', 'ENSG00000168028', 'ENSG00000132432', 'ENSG00000228716', 'ENSG00000160932', 'ENSG00000174231', 'ENSG00000277773', 'ENSG00000136108', 'ENSG00000069329', 'ENSG00000170293', 'ENSG00000164867', 'ENSG00000163634', 'ENSG00000149313', 'ENSG00000144034', 'ENSG00000175745', 'ENSG00000100883', 'ENSG00000069849', 'ENSG00000134287', 'ENSG00000106367', 'ENSG00000228300', 'ENSG00000247596', 'ENSG00000166337', 'ENSG00000135387', 'ENSG00000141076', 'ENSG00000277972', 'ENSG00000226417', 'ENSG00000108523', 'ENSG00000012061', 'ENSG00000204673', 'ENSG00000000419', 'ENSG00000023041', 'ENSG00000138629']
testing 4
       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     3.535500      0      0      0        0      0                  1      0
1     6.148500      0      0      0        0      0                  2      0
2     4.345000      0      0      0        1      0                  3      0
3     3.588286      0      0      0        1      0                  1      0
4     6.201714      0      0      0        0      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
7960  2.493559      0      0      0        0      0                  2      0
7961  2.865176      0      0      0        0      0                  3      0
7962  3.545000      0      0      0        1      0                  1      0
7963  6.174643      0      0      0        1      0                  2      0
7964  3.257857      0      0      0        1      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
7960      0      0  ...      0      0      0      0      0      0      0
7961      0      0  ...      0      0      0      0      0      0      0
7962      0      0  ...      0      0      0      0      0      0      0
7963      0      0  ...      0      0      0      0      0      0      0
7964      0      0  ...      0      0      0      0      0      0      0

      TAACC  AGGAC  CAGAC
0         0      0      0
1         0      0      0
2         0      0      0
3         0      0      0
4         0      0      0
...     ...    ...    ...
7960      0      0      0
7961      0      0      0
7962      0      0      0
7963      0      0      0
7964      0      0      0

[7965 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36

['ENSG00000107949', 'ENSG00000149218', 'ENSG00000224156', 'ENSG00000022840', 'ENSG00000147586', 'ENSG00000049541', 'ENSG00000116221', 'ENSG00000105722', 'ENSG00000196976', 'ENSG00000166681', 'ENSG00000171224', 'ENSG00000070831', 'ENSG00000155096', 'ENSG00000236081', 'ENSG00000174173', 'ENSG00000137513', 'ENSG00000103274', 'ENSG00000164051', 'ENSG00000198301', 'ENSG00000163866', 'ENSG00000151503', 'ENSG00000274626', 'ENSG00000171067', 'ENSG00000178802', 'ENSG00000126432', 'ENSG00000112667', 'ENSG00000147676', 'ENSG00000135750', 'ENSG00000161179', 'ENSG00000159840', 'ENSG00000273889', 'ENSG00000189227', 'ENSG00000120063', 'ENSG00000183726', 'ENSG00000075624', 'ENSG00000142546', 'ENSG00000106028', 'ENSG00000116750', 'ENSG00000198668', 'ENSG00000108256', 'ENSG00000262814', 'ENSG00000122565', 'ENSG00000168036', 'ENSG00000142534', 'ENSG00000163931', 'ENSG00000112378', 'ENSG00000163814', 'ENSG00000100243', 'ENSG00000123179', 'ENSG00000143727', 'ENSG00000163468', 'ENSG00000186174', 'ENSG00000115649', 'ENSG00000117751', 'ENSG00000108021', 'ENSG00000117748', 'ENSG00000137038', 'ENSG00000073969', 'ENSG00000108107', 'ENSG00000033050', 'ENSG00000104973', 'ENSG00000155463', 'ENSG00000051523', 'ENSG00000142507', 'ENSG00000100348', 'ENSG00000111832', 'ENSG00000146457', 'ENSG00000168209', 'ENSG00000110660', 'ENSG00000100138', 'ENSG00000127666', 'ENSG00000090266', 'ENSG00000138073', 'ENSG00000103194', 'ENSG00000111678', 'ENSG00000214078', 'ENSG00000175602', 'ENSG00000084623', 'ENSG00000105402', 'ENSG00000059691', 'ENSG00000176390']
testing 5
       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     6.251642      0      0      0        0      0                  1      0
1     6.117015      0      0      0        1      0                  2      0
2     2.963731      0      0      0        1      0                  3      0
3     3.639048      0      0      0        1      0                  1      0
4     8.687778      0      0      0        1      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
7111  3.148384      0      0      1        0      0                  2      0
7112  2.542727      0      0      0        1      0                  3      0
7113  2.266190      0      0      0        1      0                  1      0
7114  3.478571      0      0      0        0      0                  2      0
7115  3.525000      0      0      0        0      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
7111      0      0  ...      0      0      0      0      0      0      0
7112      0      0  ...      0      0      0      0      0      0      0
7113      0      0  ...      0      0      0      0      0      0      0
7114      0      0  ...      0      0      0      0      0      0      0
7115      0      0  ...      0      0      0      0      0      0      0

      TAACC  AGGAC  CAGAC
0         0      1      0
1         0      0      0
2         0      0      0
3         0      0      0
4         0      0      0
...     ...    ...    ...
7111      0      0      0
7112      0      0      0
7113      0      0      0
7114      0      0      0
7115      0      0      0

[7116 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36
['ENSG00000085231', 'ENSG00000198042', 'ENSG00000112306', 'ENSG00000100417', 'ENSG00000186480', 'ENSG00000163191', 'ENSG00000101447', 'ENSG00000186184', 'ENSG00000108671', 'ENSG00000134333', 'ENSG00000038210', 'ENSG00000086232', 'ENSG00000147996', 'ENSG00000134153', 'ENSG00000171135', 'ENSG00000055070', 'ENSG00000091409', 'ENSG00000048828', 'ENSG00000198763', 'ENSG00000182899', 'ENSG00000274523', 'ENSG00000115524', 'ENSG00000212864', 'ENSG00000116857', 'ENSG00000172428', 'ENSG00000169567', 'ENSG00000141198', 'ENSG00000168894', 'ENSG00000169715', 'ENSG00000136636', 'ENSG00000198363', 'ENSG00000147065', 'ENSG00000183735', 'ENSG00000180228', 'ENSG00000099624', 'ENSG00000099810', 'ENSG00000100401', 'ENSG00000141279', 'ENSG00000233927', 'ENSG00000168288', 'ENSG00000110768', 'ENSG00000145293', 'ENSG00000065000', 'ENSG00000065150', 'ENSG00000160072', 'ENSG00000106263', 'ENSG00000184900', 'ENSG00000197982', 'ENSG00000156469', 'ENSG00000244045', 'ENSG00000104312', 'ENSG00000141428', 'ENSG00000198917', 'ENSG00000136718', 'ENSG00000167815', 'ENSG00000164944', 'ENSG00000181019', 'ENSG00000114115', 'ENSG00000197905', 'ENSG00000100836', 'ENSG00000213593', 'ENSG00000156802', 'ENSG00000176853', 'ENSG00000015479', 'ENSG00000282105', 'ENSG00000138768', 'ENSG00000064313', 'ENSG00000109606', 'ENSG00000167779', 'ENSG00000125520', 'ENSG00000167552', 'ENSG00000126453', 'ENSG00000132591', 'ENSG00000120742', 'ENSG00000073921', 'ENSG00000123562', 'ENSG00000197879', 'ENSG00000100650', 'ENSG00000196683', 'ENSG00000176845', 'ENSG00000110880']
testing 6
        Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  \
0      3.280566      0      0      0        0      0                  1
1     10.073019      0      0      0        0      0                  2
2      3.113585      0      0      0        0      0                  3
3      8.883860      0      0      0        0      0                  1
4      3.925789      0      0      0        0      0                  2
...         ...    ...    ...    ...      ...    ...                ...
8422   5.537500      0      0      0        1      0                  2
8423   2.514900      0      0      0        1      0                  3
8424   3.046350      0      0      0        1      0                  1
8425   2.249000      0      0      0        1      0                  2
8426   2.048000      0      0      0        0      0                  3

      GAGAC  AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  \
0         0      0      0  ...      0      0      0      0      0      0
1         0      0      0  ...      0      0      0      0      0      0
2         0      0      0  ...      0      0      0      0      0      0
3         0      0      0  ...      0      0      1      0      0      0
4         0      0      0  ...      0      0      0      0      0      0
...     ...    ...    ...  ...    ...    ...    ...    ...    ...    ...
8422      0      0      0  ...      0      0      0      0      0      0
8423      0      0      0  ...      0      0      0      0      0      0
8424      0      0      0  ...      0      0      0      0      0      0
8425      0      0      0  ...      0      1      0      0      0      0
8426      0      0      0  ...      0      0      0      0      0      0

      AACTT  TAACC  AGGAC  CAGAC
0         0      0      0      0
1         0      0      0      0
2         0      0      0      0
3         0      0      0      0
4         0      0      0      0
...     ...    ...    ...    ...
8422      0      0      0      0
8423      0      0      0      0
8424      0      0      0      0
8425      0      0      0      0
8426      0      0      0      0

[8427 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36
['ENSG00000108479', 'ENSG00000171490', 'ENSG00000275903', 'ENSG00000267855', 'ENSG00000100603', 'ENSG00000162889', 'ENSG00000063244', 'ENSG00000173418', 'ENSG00000178999', 'ENSG00000104824', 'ENSG00000100347', 'ENSG00000132155', 'ENSG00000130522', 'ENSG00000116459', 'ENSG00000138495', 'ENSG00000082898', 'ENSG00000112208', 'ENSG00000179195', 'ENSG00000284707', 'ENSG00000145425', 'ENSG00000013583', 'ENSG00000142945', 'ENSG00000090060', 'ENSG00000188313', 'ENSG00000213639', 'ENSG00000105379', 'ENSG00000034152', 'ENSG00000110958', 'ENSG00000111206', 'ENSG00000168785', 'ENSG00000175315', 'ENSG00000239672', 'ENSG00000090686', 'ENSG00000118418', 'ENSG00000198736', 'ENSG00000090487', 'ENSG00000008018', 'ENSG00000089154', 'ENSG00000119487', 'ENSG00000128228', 'ENSG00000109270', 'ENSG00000176102', 'ENSG00000120438', 'ENSG00000124422', 'ENSG00000183955', 'ENSG00000119403', 'ENSG00000132002', 'ENSG00000177732', 'ENSG00000173145', 'ENSG00000173638', 'ENSG00000069998', 'ENSG00000254858', 'ENSG00000145365', 'ENSG00000123983', 'ENSG00000105281', 'ENSG00000244509', 'ENSG00000111786', 'ENSG00000114353', 'ENSG00000070010', 'ENSG00000072571', 'ENSG00000072849', 'ENSG00000197223', 'ENSG00000115685', 'ENSG00000163399', 'ENSG00000092621', 'ENSG00000138772', 'ENSG00000182774', 'ENSG00000135372', 'ENSG00000154582', 'ENSG00000170522', 'ENSG00000211460', 'ENSG00000173272', 'ENSG00000166803', 'ENSG00000170540', 'ENSG00000168003', 'ENSG00000196305', 'ENSG00000129354', 'ENSG00000100612', 'ENSG00000124214', 'ENSG00000167508', 'ENSG00000088930']
testing 7

       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     6.460417      0      0      0        1      0                  1      0
1     8.126667      0      0      0        1      0                  2      0
2     4.007500      0      0      0        0      0                  3      0
3     4.649130      0      0      0        1      0                  1      0
4     7.245217      0      0      0        1      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
8770  2.998125      0      0      1        0      0                  2      0
8771  2.203750      0      0      0        0      0                  3      0
8772  1.874516      0      0      0        1      0                  1      0
8773  2.194032      0      0      0        2      0                  2      0
8774  1.977742      0      0      0        2      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
8770      0      0  ...      0      0      0      0      0      0      0
8771      0      0  ...      0      0      0      0      0      0      0
8772      0      0  ...      0      0      0      0      0      0      0
8773      0      0  ...      0      0      0      0      1      0      0
8774      0      0  ...      0      0      0      0      0      0      1

      TAACC  AGGAC  CAGAC
0         0      0      0
1         0      0      0
2         0      0      0
3         0      0      0
4         0      0      0
...     ...    ...    ...
8770      0      0      0
8771      0      0      0
8772      0      0      0
8773      0      0      0
8774      0      0      0

[8775 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36
['ENSG00000116663', 'ENSG00000173915', 'ENSG00000235030', 'ENSG00000175416', 'ENSG00000006451', 'ENSG00000123595', 'ENSG00000171603', 'ENSG00000123297', 'ENSG00000173621', 'ENSG00000096384', 'ENSG00000124383', 'ENSG00000136261', 'ENSG00000144485', 'ENSG00000130429', 'ENSG00000033011', 'ENSG00000102753', 'ENSG00000130202', 'ENSG00000165775', 'ENSG00000163170', 'ENSG00000170296', 'ENSG00000173726', 'ENSG00000198712', 'ENSG00000075336', 'ENSG00000206418', 'ENSG00000165661', 'ENSG00000142541', 'ENSG00000168938', 'ENSG00000167671', 'ENSG00000255717', 'ENSG00000115211', 'ENSG00000167196', 'ENSG00000182108', 'ENSG00000120533', 'ENSG00000102144', 'ENSG00000102317', 'ENSG00000010292', 'ENSG00000134152', 'ENSG00000162910', 'ENSG00000079999', 'ENSG00000105771', 'ENSG00000055044', 'ENSG00000206053', 'ENSG00000214113', 'ENSG00000106603', 'ENSG00000177189', 'ENSG00000143870', 'ENSG00000113810', 'ENSG00000101928', 'ENSG00000124333', 'ENSG00000143575', 'ENSG00000189171', 'ENSG00000149925', 'ENSG00000213024', 'ENSG00000133265', 'ENSG00000109861', 'ENSG00000101166', 'ENSG00000113141', 'ENSG00000145247', 'ENSG00000244187', 'ENSG00000146729', 'ENSG00000119013', 'ENSG00000197728', 'ENSG00000167118', 'ENSG00000141934', 'ENSG00000126457', 'ENSG00000153130', 'ENSG00000160075', 'ENSG00000152700', 'ENSG00000164022', 'ENSG00000125991', 'ENSG00000197780', 'ENSG00000149136', 'ENSG00000169047', 'ENSG00000105186', 'ENSG00000127540', 'ENSG00000077235', 'ENSG00000175348', 'ENSG00000205937', 'ENSG00000109111', 'ENSG00000112699', 'ENSG00000136888']
testing 8
       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     4.900645      0      0      0        1      0                  1      0
1     9.120968      0      0      0        2      0                  2      0
2     2.513839      0      0      0        1      0                  3      0
3     6.078824      0      0      0        0      0                  1      0
4     4.955000      0      0      0        1      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
8155  8.618036      0      0      0        1      0                  2      0
8156  3.361607      0      0      0        0      0                  3      0
8157  2.345937      0      0      0        1      0                  1      0
8158  3.247073      0      0      0        0      0                  2      0
8159  2.635729      0      0      0        0      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
8155      0      0  ...      0      0      0      0      0      0      0
8156      0      0  ...      0      0      0      0      0      0      0
8157      0      0  ...      0      0      0      0      0      0      0
8158      0      0  ...      0      0      0      0      0      0      0
8159      0      0  ...      0      0      0      0      0      0      0

      TAACC  AGGAC  CAGAC
0         0      0      0
1         0      0      0
2         0      0      0
3         0      1      0
4         0      0      0
...     ...    ...    ...
8155      0      0      0
8156      0      0      0
8157      0      0      0
8158      0      0      0
8159      0      0      0

[8160 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36
['ENSG00000171453', 'ENSG00000116863', 'ENSG00000188343', 'ENSG00000198492', 'ENSG00000124787', 'ENSG00000101084', 'ENSG00000147162', 'ENSG00000119326', 'ENSG00000181061', 'ENSG00000178449', 'ENSG00000204272', 'ENSG00000196365', 'ENSG00000213931', 'ENSG00000168802', 'ENSG00000163902', 'ENSG00000069011', 'ENSG00000113368', 'ENSG00000104886', 'ENSG00000147416', 'ENSG00000162702', 'ENSG00000172922', 'ENSG00000184164', 'ENSG00000126088', 'ENSG00000144021', 'ENSG00000134049', 'ENSG00000143753', 'ENSG00000105438', 'ENSG00000117395', 'ENSG00000152556', 'ENSG00000173085', 'ENSG00000129055', 'ENSG00000148908', 'ENSG00000166226', 'ENSG00000140525', 'ENSG00000110651', 'ENSG00000095787', 'ENSG00000153310', 'ENSG00000052344', 'ENSG00000154174', 'ENSG00000141127', 'ENSG00000107566', 'ENSG00000011295', 'ENSG00000151929', 'ENSG00000109805', 'ENSG00000136950', 'ENSG00000127838', 'ENSG00000112339', 'ENSG00000197498', 'ENSG00000055950', 'ENSG00000197956', 'ENSG00000136875', 'ENSG00000136807', 'ENSG00000171793', 'ENSG00000117419', 'ENSG00000164713', 'ENSG00000198130', 'ENSG00000105698', 'ENSG00000136159', 'ENSG00000116096', 'ENSG00000274474', 'ENSG00000111802', 'ENSG00000012660', 'ENSG00000159131', 'ENSG00000138698', 'ENSG00000090432', 'ENSG00000280627', 'ENSG00000130309', 'ENSG00000119986', 'ENSG00000179010', 'ENSG00000167114', 'ENSG00000133704', 'ENSG00000213563', 'ENSG00000140943', 'ENSG00000213782', 'ENSG00000105486', 'ENSG00000140612', 'ENSG00000086504', 'ENSG00000136240', 'ENSG00000117984']
testing 9
       Mean SD  GGACA  TTAAC  GAACA  Count_T  TTGAC  Relative Position  GAGAC  \
0     8.643333      0      0      0        1      0                  1      0
1     3.878750      0      0      0        0      0                  2      0
2     2.227500      0      0      0        0      0                  3      0
3     3.164800      0      0      0        1      0                  1      0
4     8.596800      1      0      0        0      0                  2      0
...        ...    ...    ...    ...      ...    ...                ...    ...
7531  7.425278      0      0      0        1      0                  2      0
7532  3.250000      0      0      0        1      0                  3      0
7533  2.129195      0      0      0        1      0                  1      0
7534  2.418780      0      0      0        2      0                  2      0
7535  1.815366      0      0      0        2      0                  3      0

      AGACA  GGAAC  ...  GACTG  TAACA  AGAAC  GACTT  TAACT  AACTG  AACTT  \
0         0      0  ...      0      0      0      0      0      0      0
1         0      0  ...      0      0      0      0      0      0      0
2         0      0  ...      0      0      0      0      0      0      0
3         0      0  ...      0      0      0      0      0      0      0
4         0      0  ...      0      0      0      0      0      0      0
...     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
7531      0      0  ...      0      0      0      0      0      0      0
7532      0      0  ...      0      0      0      0      0      0      0
7533      0      0  ...      0      0      0      0      0      0      0
7534      0      0  ...      0      0      0      0      1      0      0
7535      0      0  ...      0      0      0      0      0      0      1

      TAACC  AGGAC  CAGAC
0         0      0      0
1         0      0      0
2         0      0      0
3         0      0      0
4         0      0      0
...     ...    ...    ...
7531      0      0      0
7532      0      0      0
7533      0      0      0
7534      0      0      0
7535      0      0      0

[7536 rows x 36 columns]
Number of columns in training_cross_val_X is 36
Number of columns in validation_cross_val_X is 36

Mean roc auc score is 0.8446049891987615
Mean pr auc score is 0.38328382664690624

In [23]:
roc_auc_scores

[0.8513723301709706,
 0.8907476396314413,
 0.825802885933644,
 0.8448061400026465,
 0.8747963664695259,
 0.8664230172759709,
 0.8423920265780731,
 0.8681690080589528,
 0.7328459480122325,
 0.848694529854157]

### SMOTE

In [24]:
training_X = training_X.drop(['Transcript Name', 'Gene Name'], axis=1)
validation_X = validation_X.drop(['Transcript Name', 'Gene Name'], axis=1)

In [25]:
training_X

,Mean SD,GGACA,TTAAC,GAACA,Count_T,TTGAC,Relative Position,GAGAC,AGACA,GGAAC,...,GACTG,TAACA,AGAAC,GACTT,TAACT,AACTG,AACTT,TAACC,AGGAC,CAGAC
0,4.900645,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9.120968,0,0,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.513839,0,0,0,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6.078824,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4.955000,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77116,2.998125,0,0,1,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77117,2.203750,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77118,1.874516,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77119,2.194032,0,0,0,2,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
77120,1.977742,0,0,0,2,0,3,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [26]:
validation_X

,Mean SD,GGACA,TTAAC,GAACA,Count_T,TTGAC,Relative Position,GAGAC,AGACA,GGAAC,...,GACTG,TAACA,AGAAC,GACTT,TAACT,AACTG,AACTT,TAACC,AGGAC,CAGAC
0,4.764186,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9.278605,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.570698,0,0,0,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.195217,0,0,0,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6.813261,0,0,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33910,3.808538,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33911,2.351154,0,0,0,1,0,3,0,0,0,...,0,0,0,0,0,1,0,0,0,0
33912,1.922843,0,1,0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33913,2.673543,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
33914,2.027638,0,0,0,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
validation_y

0        0
1        0
2        0
3        0
4        0
        ..
33910    0
33911    0
33912    0
33913    0
33914    0
Name: Label, Length: 33915, dtype: int64

In [28]:
# # Use RandomUnderSampler to sample majority class until minority class makes up 5% of the majority class counts
over = SMOTE(sampling_strategy=0.3)
training_X, training_y = over.fit_resample(training_X, training_y)
training_X

,Mean SD,GGACA,TTAAC,GAACA,Count_T,TTGAC,Relative Position,GAGAC,AGACA,GGAAC,...,GACTG,TAACA,AGAAC,GACTT,TAACT,AACTG,AACTT,TAACC,AGGAC,CAGAC
0,4.900645,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9.120968,0,0,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.513839,0,0,0,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6.078824,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4.955000,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98824,5.023077,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98825,8.904993,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98826,2.616891,0,0,0,2,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
98827,6.656978,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98828,7.976602,0,0,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Model training for Non-DRACH + DRACH sites

In [29]:
random.seed(4262)
clf = GradientBoostingClassifier(random_state=4262, max_depth=6, max_features = "log2", criterion = "friedman_mse", n_estimators = 500, loss = "log_loss", learning_rate = 0.1)
clf.fit(training_X, training_y)
y_score = clf.predict_proba(validation_X)
y_pred = clf.predict(validation_X)

In [30]:
y_score = pd.DataFrame(y_score[:,1], columns = ['Predicted Score'])
y_pred = pd.DataFrame(y_pred, columns=['Predicted'])
validation_y = validation_y.to_frame()
y_score

       Predicted Score
0         4.859734e-05
1         3.283997e-04
2         1.173969e-05
3         8.896369e-07
4         1.326534e-01
...                ...
33910     4.961934e-01
33911     2.296064e-08
33912     2.110330e-06
33913     1.334148e-04
33914     3.420388e-06

[33915 rows x 1 columns]

In [31]:
validation_y

       Label
0          0
1          0
2          0
3          0
4          0
...      ...
33910      0
33911      0
33912      0
33913      0
33914      0

[33915 rows x 1 columns]

In [32]:
# Make sure that only DRACH sites are present before checking scores
y_pred_and_validation_y = pd.concat([y_score, validation_y, y_pred],axis=1)
indicator = pd.DataFrame([0,1,0] * int(len(y_pred_and_validation_y) / 3), columns = ['Indicator'])
y_pred_and_validation_y = pd.concat([y_pred_and_validation_y, indicator], axis=1)
y_pred_and_validation_y = y_pred_and_validation_y[y_pred_and_validation_y['Indicator'] == 1]
y_pred_and_validation_y = y_pred_and_validation_y.drop(['Indicator'], axis=1)
y_pred_and_validation_y

       Predicted Score  Label  Predicted
1             0.000328      0          0
4             0.132653      0          0
7             0.083342      0          0
10            0.114356      0          0
13            0.004523      0          0
...                ...    ...        ...
33901         0.015325      0          0
33904         0.007800      0          0
33907         0.000080      0          0
33910         0.496193      0          0
33913         0.000133      0          0

[11305 rows x 3 columns]

In [33]:
# Convert DataFrame to Series before checking ROC AUC and PR AUC Score
validation_y = y_pred_and_validation_y['Label'].squeeze()
y_score = y_pred_and_validation_y['Predicted Score'].squeeze()
y_pred = y_pred_and_validation_y['Predicted'].squeeze()

In [34]:
print('ROC_AUC score is', roc_auc_score(validation_y, y_score, average=None))

ROC_AUC score is 0.8520470769112561

In [35]:
# Data to plot precision - recall curve
precision, recall, thresholds = precision_recall_curve(validation_y, y_score)
# Use AUC function to calculate the area under the curve of precision recall curve
auc_precision_recall = auc(recall, precision)
print('PR AUC score is', auc_precision_recall)

PR AUC score is 0.32969961673158305

In [36]:
from sklearn.metrics import average_precision_score
average_precision_score(validation_y, y_score)

0.33114861328362744

In [37]:
from sklearn.metrics import precision_score, recall_score
print("Precision Score is", precision_score(validation_y, y_pred))
print("Recall Score is", recall_score(validation_y, y_pred))

Precision Score is 0.17691477885652643
Recall Score is 0.6748971193415638

In [40]:
# import pickle
# pickle.dump(clf, open('gradientboostingclassifier.sav', 'wb'))